[2014-04-02 18:48] scottbergeron opened #1 "generateUrl() in BaseAuth0 is creating bad URLs"
When I make the following call for creating a User URL

[code]

it returns `https://company.auth0.com/apiusers`

The problem seems to be the '/' removing part of this function

[code]

There's two easy ways to fix this issue:
1. Remove the `if ($path[0] ==='/') {...etc` lines from the function **OR**
2. In `$URL_MAP` add a '/' character to the end of each url. So turn

`public static $URL_MAP = ar

[2014-04-02 22:16] #1 closed, assigned to nobody

[2015-03-31 04:02] ddarbyson opened #4 "Unexpected token"
I'm testing `basic-webapp` am seeing the following console errors:
[code]

it's just not working... any ideas?

[2015-03-31 04:35] ddarbyson commented on #4
Nevermind... it was just bad implementation.

[2015-03-31 04:35] #4 closed

[2015-04-03 20:13] ddarbyson opened #5 "Example is out of date"
For newcomers, it would be helpful to see the updated example for auth0/lock. Documentation states `Auth0Widget` is [now deprecated](https://github.com/auth0/widget/blob/master/README.md) in place of [Lock](https://github.com/auth0/lock).

This example project is currently using the deprecated module.

[2015-05-07 19:53] #5 closed

[2015-05-12 14:13] glena opened #7 "SDK Client headers spec compliant"

[2015-05-12 14:13] glena commented on #7
done

[2015-05-12 14:13] #7 closed

[2015-05-12 14:27] eugeniop commented on #7
awesome

[2015-05-13 11:06] MarkPfennig opened #9 "PHP Fatal error: Class 'Auth0\SDK\API\ApiUsers' not found in vendor/auth0/auth0-php/src/Auth0.php on line 256"
PHP Fatal error:  Class 'Auth0\SDK\API\ApiUsers' not found in vendor/auth0/auth0-php/src/Auth0.php on line 256

using both 1.0 branch and master.

[2015-05-13 11:20] MarkPfennig commented on #9
appears to be autoloading issue on classes in \API namespace via composer.

    use Auth0\SDK\Auth0; new Auth0(); // works fine
    use Auth0\SDK\API\ApiUsers; new ApiUsers; // fatal error
    use Auth0\SDK\API\ApiClient; new ApiClient; // fatal error

[2015-05-13 14:10] MarkPfennig commented on #9
Could be a composer psr-4 word casing issue?

Can work around this issue temporarily by `require`'ing all dependent files.

Can confirm that composer autoloader works for all other vendor packages.

[2015-05-13 19:51] glena commented on #9
Fixed on 1.0.3

[2015-05-13 19:51] #9 closed

[2015-05-13 19:51] glena opened #10 "EU tenants are getting Unauthorize on api calls"

[2015-05-13 19:51] glena commented on #10
fixes 1.0.3

[2015-05-13 19:51] #10 closed

[2015-06-17 19:40] shankscoder opened #19 "Correct way to use the JWT Token generated in API v2 if we want expanded scope"
Hi,
We're trying to build a small management admin dashboard for our Auth0 setup, and we want to give rights to our admins in this app to create new users and update existing user data.

We've generated the token in the API v2 section, but it's not clear on how to use this token with the Auth0 PHP SDK class.

Could you share some insight on the correct way to use this?

Thanks in advance.

[2015-06-29 13:37] glena commented on #19
Hi @shankscoder:

you should use

[code]

Right now, only have a client for the users endpoints, let me know which ones do you need to use and I can add them (or you can shoot a PR based on the `ApiUsers`

[2015-06-29 13:56] glena opened #20 "Test"
this is for testing the channel integration

[2015-06-29 14:22] glena commented on #20
kk

[2015-06-29 14:22] #20 closed

[2015-06-30 12:14] shankscoder commented on #19
Thanks. We figured this out. We're using other API endpoints as well (mainly user and app metadata), so we're directly consuming the APIs in Guzzle.

It'd be great if you could have modular classes for each object type in the API (user, apps, etc.) so that we can pick and choose the necessary object we want to work with without having a bloated client.

[2015-07-13 09:37] joskfg opened #21 "Error in composer install"
Hello,

When I'm trying to install the package I receive this error:

Problem 1
    - auth0/auth0-php 1.0.6 requires firebase/php-jwt dev-master -> no matching package found.
    - auth0/auth0-php 1.0.5 requires firebase/php-jwt dev-master -> no matching package found.
    - auth0/auth0-php 1.0.4 requires firebase/php-jwt dev-master -> no matching package found.
    - auth0/auth0-php 1.0.3 require

[2015-07-13 14:50] glena commented on #21
Hi @joskfg, which quickstart are you following (regular webapp or api backend)?

Can you copy your composer.json file here to check your dependencies?

Also, try adding `"firebase/php-jwt" : "~2.2"` as a dependency in your composer.json, since it is tagged to dev-master on the package composer.json it is not actumatically downloaded due to min stability settings on your project (It will be fixed o

[2015-07-14 07:54] joskfg commented on #21
I was following the regular webapp and it indicates do 3 requires

[code]

I solved it adding

[code]

to the requires, but it didn't work indicating a version.

[2015-07-14 14:26] glena commented on #21
great, It should be solved on the next release (WIP).
Thanks for reporting.

[2015-07-14 14:26] #21 closed

[2015-07-14 15:44] glena opened #22 "Add support for auth api endpoints (/ro)"

[2015-07-15 23:32] bfgasparin opened #23 "Error at Auth0JWT::encode when using custom payload"
The `Auth0\SDK\Auth0JWT` does not add custom payload to the generated JWT.

The following lines at`Auth0JWT::encode`:

[code]

should be:
[code]

Is it correct or am I missing something?

[2015-07-16 13:35] glena commented on #23
yes, you are right!
thanks, it will be fixed in the next release :)

[2015-07-16 13:36] #23 closed

[2015-07-17 16:25] adamdama opened #25 "Class 'JWT' not found"
It appears the namespace of the JWT class from the firebase/php-jwt has changed and therefore the usage in the Auth0 SDK no longer works.

[2015-07-17 16:26] glena commented on #25
Hi, it is due to recen changes on the master branch. They also tagged the package before te changes, I recommend you to point to ~2.2

[2015-07-17 17:15] glena commented on #25
I have released the version 1.0.7 that points to the right version so there is no need to add this dependency on your composer.json

[2015-07-17 17:15] #25 closed

[2015-07-17 17:16] glena commented on #19
Hi, just to let you know, we added support for several new api v2 endpoints :)
The new version released is 1.0.7.

[2015-07-17 17:16] #19 closed

[2015-07-20 09:24] adamdama commented on #25
I tried to run composer update to fix the issue after specifying 1.0.7 for the auth0 plugin, however I got errors saying that version 2.2 of firebase/php-jwt could not be found.

I resolved this by adding "firebase/php-jwt": "v2.2.0" as a dependancy of my project.

[2015-08-03 10:47] bvis opened #30 "Stable dependencies in composer.json instead of "dev-master""
Hi,

I've seen that in your dependencies list you have them defined as:
[code]
The "adoy/oauth2" component has stable version 1.2.0: https://packagist.org/packages/adoy/oauth2

Is it there any reason to use the "dev-master" instead the stable version?

As you may know rely on development dependencies makes your software so fragile and it can break at any time after a "composer update" execution.

[2015-08-03 12:35] glena commented on #30
Yes, becase the 1.2.0 tags does not have the latest chages (like a PR I sent) so we cant rely on a stable tag.

It is on my plans changing of oauth2 package but right now is not a priority (PRs welcome :D).

Anyway, this dependency is not very active so I doubt a change can break you project. You can always fork the repo and override it on composer (check https://getcomposer.org/doc/05-repositorie

[2015-08-03 12:35] #30 closed

[2015-08-03 20:08] glena commented on #30
@bvis before you ask, it is 1.0.9 ;)

[2015-08-04 08:24] bvis commented on #30
Thanks! ;)

[2015-09-01 01:18] helloworlder opened #34 "PHP should be 5.4+, not 5.3+"
In the composer file, it requires PHP 5.3+, I think that's misleading because it's not going to run under 5.3 due to at least one dependency, Guzzle.

[2015-09-02 15:32] glena commented on #34
you are right, I will change it

[2015-09-07 12:55] rolodato opened #35 "Improve error message when no id_token is received after code exchange"
When no `id_token` is received after the code exchange, the following error is thrown:

[code]

This should be documented and have a better error message (e.g. "Missing JWT after code exchange. See auth0.com/docs/scopes for more details")

[2015-09-23 13:33] glena commented on #34
done, It will be changed in the next release.
Thanks.

[2015-09-23 13:33] #34 closed

[2015-09-23 13:35] glena commented on #35
done, it will be ready in the next release.

[2015-09-23 13:35] #35 closed

[2015-10-04 04:17] ddarbyson opened #37 "authParams... how do I retrieve the results?"
After a successful log, how to I reveal the values of authParams? I can see the returned url contains the `state` parameter:

https://mydomain.net/public/login/?code=MKeyK8NNe5dijXW3&state=zRx4w7thku0XAqlN

However, `state` is encoded... I'm trying to make a callback url to the original location where the user came from.

[code]

[2015-10-04 15:17] ddarbyson commented on #37
Figured it out... You can't make up your own authParams. To pass through the original call back url you need to use the `state` parameter:

[code]

[2015-10-04 15:17] #37 closed

[2015-10-08 15:10] Annyv2 opened #38 "Issues with PHP Seed project"
I receive this error when testing the seed project of PHP on Windows 7. Other people have received it aswell https://ask.auth0.com/t/error-logging-in-with-php-web-app-tutorial/1118/2 and https://ask.auth0.com/t/getting-error-some-time-while-login-or-creating-account-in-auth0/1399

![error](https://cloud.githubusercontent.com/assets/5016479/10370405/6fe08b5e-6da8-11e5-8caa-7ae419133ef1.JPG)

[2015-10-08 15:32] glena commented on #38
Hi @Annyv2 it is produced because your computer is not in time. It should be a couple of minutes behind and it can't verify the token signature because of that.

Try to correct the time (and if you can put it in sync with an NPT server) and it should work.

[2015-10-29 12:25] #38 closed

[2015-11-16 16:50] adamdama opened #41 "User is null not false"
I have found an issue using custom session storage. I am unable to successfully get a user from Auth0 because the exchangeCode() method is never being called.

I think I have narrowed this down to a combination of line 198 and line 276 in the Auth0.php file.

Line 198:
[code]

When a key is returned from my session storage and there was nothing stored against that key, I get the value null. This i

[2015-11-17 13:29] glena commented on #41
Can you share your session store?
I think it is easier for you to change it to return false in this case since it can break BC for users using this package already.

[2015-11-18 14:54] adrienbrault opened #43 "Guzzle 6"
The application I'm working on is using several packages using guzzle 6, which means I cannot require this package.

[2015-11-18 19:46] glena commented on #43
Let me check what can I do. If you want to send PR I can merge it and bump the mayor version to avoid breaking BC.

[2015-11-19 18:02] adamdama commented on #41
My session store class is a wrapper for the Phalcon Framework Session class. How would be best to share it?

I agree breaking BC would be bad. However the reason I flagged this as an issue is that if people are trying to use a generic session store with this package then flase is a valid value for something stored in the session and therefore a generic class will return null when a key is not pres

[2015-11-19 18:34] glena commented on #41
Yes, make sense.
I am planing in releasing a new version (not sure if a new minor or mayor) with Guzzle 6.1 (latest).
I think I can push this change too since (not a big deal if it is a mayor).
How does it sounds?

[2015-11-19 19:26] adamdama commented on #41
Sounds fair enough! :)

! thing I might add though, if you are thinking of using a new version have you considered unirest (http://unirest.io/) instead of Guzzle?

[2015-11-19 19:28] glena commented on #41
never hear of it, will take a look but I doubt I will change it, I think I will just bump the guzzle version. Are you using it? why unirest over guzzle?

[2015-11-19 19:32] adamdama commented on #41
I find Guzzle to be very long winded and not very nice to work with. Unirest is much simpler and cleaner.

I use Guzzle in the project I am working with Auth0 on, but I am using unirest in a more recently started project and am finding that much more enjoyable.

[2015-11-19 19:35] glena commented on #41
ok, I will have it in mind. Based on how much it changed from guzzle 5 to 6, I will evaluate the change :)

[2015-11-22 23:38] auro1 commented on #43
Yes please :+1: blocker for me.

[2015-11-23 15:55] glena commented on #43
It will be ready in v2.0
I will release it today

[2015-11-23 15:55] #43 closed

[2015-11-23 15:56] glena commented on #41
It will be ready in v2.0
I will release it today (uses guzzle 6 sorry)

[2015-11-23 15:56] #41 closed

[2015-11-24 19:38] jeffisfast opened #47 "Update to use v3.0 of firebase/php-jwt"
Hello,

The current library is using an old version of the firebase/php-jwt library, which is now out of date.  Can you update your software to use the current version (v3.0)?

Here is output from composer that shows the problem when I try to include the "firebase/php-jwt":"~3.0":

$ ./composer.phar update
Loading composer repositories with package information
Updating dependencies (including requ

[2015-11-24 20:12] glena commented on #47
I am releasing 2.1.0 with this change.
Thanks :)

[2015-11-24 20:12] #47 closed

[2015-12-15 14:16] Annyv2 opened #50 "Deprecated method in basic-webapp"
The basic webapp example uses `getUserInfo` which according to the documentation is deprecated and should be updated to `getUser`

[2015-12-15 14:36] Annyv2 opened #52 "Outdated Lock"
Basic web app and some of the other examples in this repositories are using outdated versions of lock

[2016-01-08 02:15] silverxmary opened #54 "Outdated auth0/auth0-php Dependency"
Tutorial step 1. Add Needed dependencies

To install dependencies, run the following
composer require auth0/auth0-php:"~1.0"

but a recent release is available
https://github.com/auth0/auth0-PHP/releases

[2016-01-08 02:20] silverxmary opened #55 "Missing instruccions step 2 Configure Auth0 PHP Plugin"
Following only the tutorial in the step 2 I get the error
Fatal error: Class 'Auth0\SDK\Auth0' not found

The tutorial should have before the include of the class file.

[2016-01-15 03:59] SimonEast opened #56 "Exception: Cannot handle token prior to [timestamp]"
As I mentioned [in this issue](https://github.com/firebase/php-jwt/issues/73#issuecomment-171865921) (over in PHP-JWT), I'm getting this exception triggered a lot when calling `$auth0->getUser()`. It first happened on my development machine and now on my web host:

    Cannot handle token prior to 2016-01-15T14:44:28+1100

It appears to occur when the server's clock is a few seconds behind Auth0's

[2016-01-15 04:24] SimonEast commented on #56
My ugly hack/workaround for now was to comment out the exception in 2 places in `/vendor/firebase/php-jwt/Authentication/JWT.php`:

    //---------------------------------------
    // Temporarily commenting out to fix bug
    //---------------------------------------
    // throw new BeforeValidException(
    //     'Cannot handle token prior to ' . date(DateTime::ISO8601, $payload->nbf)
    // )

[2016-01-15 12:03] glena commented on #56
Try setting the `leeway` in the php-jwt.

Somewhere in your project before the auth0 sdk is initialized add this line:

`\Firebase\JWT\JWT::$leeway = X;`

this will let you move the time window X seconds, ceck if you are ahead or behind and play with it until you find a confortable value.

[2016-01-18 19:38] glena commented on #56
@SimonEast did it work?

[2016-01-18 19:44] glena commented on #52
done

[2016-01-18 19:44] #52 closed

[2016-01-18 19:44] glena commented on #50
done

[2016-01-18 19:44] #50 closed

[2016-01-18 19:56] glena commented on #55
hi @silverxmary

the tutorial focus on using composer as it says in the first step.
It is supposed you already installed the dependency and the autoloader as the [Composer's getting started](https://getcomposer.org/doc/01-basic-usage.md) explains.

Did you complete this step?

[2016-01-18 20:03] silverxmary commented on #55
yes but composer doesn't install that dependency... I had to add it manually

[2016-01-18 20:04] glena commented on #55
on step 1 https://auth0.com/docs/quickstart/webapp/php/#1-add-needed-dependencies

This command
```composer require auth0/auth0-php:"~1.0"```

installs the dependency

[2016-01-18 20:18] silverxmary commented on #55
this is the line I had to add
require __DIR__ . '/vendor/autoload.php';

[2016-01-18 20:20] glena commented on #55
Well this is part of using composer, if you dont know how composer works, there is a link to its quickstart.

I dont think it should explicitly said that you need to require the autoload because it can end up confusing unexperienced developers and make them think they need to require it each time they need to use the SDK. Is better for them to read the quickstart and get familiar on composer (what

[2016-01-18 20:20] #55 closed

[2016-01-18 21:04] silverxmary commented on #55
ok thanks

[2016-01-24 04:21] vboctor opened #59 "Missing updateAppMetadata() method?"
I noticed the following methods in Auth0.php, but no method to update AppMetadata for the user.

    updateUserMetadata($metadata)
    getUserMetadata()
    getAppMetadata()

Any reason for this?  Is there a way to set app metadata in the version on composer?

[2016-01-24 07:53] SimonEast commented on #56
OK, awesome. That's the kinda thing I was looking for. Haven't tried it yet but hope to do so in the next 1-2 weeks and will try post back how it goes.

[2016-01-24 18:36] glena commented on #56
sure, I will close the issue for now but feel free to open a new one (or just ping me here)

[2016-01-24 18:36] #56 closed

[2016-01-24 18:37] glena commented on #59
the thing is you need an api token for app metadata. It uses the user token for user metadata. Check the api (users->update)

[2016-02-03 12:21] #59 closed

[2016-02-08 19:29] Annyv2 opened #63 "Typo on README"
The basic webapp example says this `AUTH0_CLIENT_SECRET and AUTH0_CLIENT_ID, AUTH0_DOMAIN, AUTH0_CALLBACK_URL.`

[2016-02-10 14:14] #63 closed

[2016-02-17 19:29] Amialc opened #67 "basic-webapp project relative path"
Related to lines [41](https://github.com/auth0/auth0-PHP/blob/master/examples/basic-webapp/index.php#L41) and [42](https://github.com/auth0/auth0-PHP/blob/master/examples/basic-webapp/index.php#L41) at basic-webapp project. If i host this project like `http://localhost/basic-webapp` this files would be included from `http://localhost/public/`, not from `http://localhost/basic-webapp/public/`

[2016-02-17 19:31] Amialc opened #68 "basic-webapp outdated dependencies"
Dependencies (such as jquery, vlucas/phpdotenv, bootstrap and font-awesome) in basic-webapp project is outdated.

[2016-02-20 09:47] dungphanxuan opened #69 ""cURL error 60: SSL certificate problem: self signed certificate in certificate chain (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)","
Hello, i use auth0 api to create new user and get error:
 "cURL error 60: SSL certificate problem: self signed certificate in certificate chain (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)",

How can i fix it! thank

[2016-02-20 22:08] glena commented on #69
check the readme :) `I am getting curl error 60: SSL certificate problem: self signed certificate in certificate chain on Windows` :point_right: https://github.com/auth0/auth0-PHP#i-am-getting-curl-error-60-ssl-certificate-problem-self-signed-certificate-in-certificate-chain-on-windows

[2016-02-24 13:07] #69 closed

[2016-02-24 21:52] Annyv2 opened #70 "API seed incomptaible with auth0-php 3"
The seed is incomptaible with auth0-php3

PHP Fatal error:  Class 'Auth0\SDK\Api\ApiUsers' not
found in ...\Main.php

[2016-03-03 20:32] #67 closed

[2016-03-03 20:51] #70 closed

[2016-03-04 16:12] #68 closed

[2016-03-09 18:59] dev101 opened #73 "Specify GuzzleHttp config"
There is no easy way to specify [GuzzleHttp config options](http://guzzle3.readthedocs.org/http-client/client.html#configuration-options), e.g. **proxy server** to be used.

[2016-03-09 19:06] glena commented on #73
good catch, I will try to push this by end of week

[2016-03-10 15:40] glena commented on #73
Done, v `3.1.0` (PR #74)

[2016-03-10 15:40] #73 closed

[2016-03-10 16:42] dev101 commented on #73
:v:

[2016-03-14 21:35] Amialc opened #75 "outdated dependency in api example"
Relates to [vlucas/phpdotenv](https://github.com/auth0/auth0-PHP/blob/master/examples/basic-api/composer.json#L6) in api example.

[2016-03-22 21:18] doapp-ryanp opened #76 "/tokeninfo API support"
Does this SDK support making calls to `/tokeninfo` with a user's JWT token?

I can't find support for either of the [User profile](https://auth0.com/docs/auth-api#user-profile) endpoints in this SDK

[2016-03-22 21:21] glena commented on #76
it is not part of the public api, but it will fetch the user profile after the token exchange and, if you enable it, store it in the user session https://github.com/auth0/auth0-PHP/blob/master/src/Auth0.php#L261

[2016-03-22 21:22] doapp-ryanp commented on #76
ok thanks

[2016-03-22 21:22] #76 closed

[2016-04-19 18:48] dryror opened #80 "UnexpectedValueException is used in Auth0JWT.php but is not defined"
See [c203d45](https://github.com/auth0/auth0-PHP/commit/d4a0776a1f2a4cdf4b27befd2821599c659d3319#diff-58851c54f52841c79c57f1c5dfff1b76R32)

[2016-04-21 22:15] #75 closed

[2016-05-23 20:56] brightbeagle opened #84 "Create password change ticket fails"
src/API/Management/Tickets.php

Method createPasswordChangeTicket, the apiClient post header is missing 'application/json', resulting in a invalid body error.

Also, the method should have a default value of null for $new_password, and should only get added to $body if not null, as the new password field is optional in the API.

[2016-05-24 14:42] glena commented on #84
You are right, it should be fixed by `3.3.4`.

let me know how it goes after the upgrade. Thx for reporting

[2016-05-24 14:42] #80 closed

[2016-05-24 14:42] glena commented on #22
done

[2016-05-24 14:42] #22 closed

[2016-05-24 14:45] #84 closed

[2016-05-24 15:24] brightbeagle commented on #84
Haven't tried it yet, but I think you are still going to need to add 'application/json' to the apiClient post:

[code]

[2016-05-24 16:07] glena commented on #84
Shoot, you are right, try `3.3.5`. Sorry about that

[2016-05-25 13:54] brightbeagle commented on #84
Worked on 3.3.5. Thanks.

[2016-06-15 19:43] rolodato opened #86 "More descriptive error message when code exchange fails"
Would be helpful to show the full response/status from Auth0 here: https://github.com/auth0/auth0-PHP/blob/master/src/Auth0.php#L246-L248. If there's a misconfiguration such as wrong client secret, redirect URI, etc. retrying the login won't help.

[2016-06-17 21:50] fiannolo opened #88 "More descriptive readme file with instructions about how to download dependencies using composeri"
After downloading this seed project, the readme file doesn't specify the path to get all the dependencies needed for the project in order to work properly. The existing text in the readme file in the 'Running this example' section is:

#Running the example
In order to run the example you need to have `composer` and `php` installed.

You also need to set the ClientSecret, ClientId, Domain and Callb

[2016-06-21 13:03] glena commented on #86
done, ready for the next release

[2016-06-21 13:03] #86 closed

[2016-06-21 13:04] glena commented on #86
`3.4.0`

[2016-06-21 13:14] glena commented on #88
I added a line on how to install using composer in the README.

Anyway, it points to the auth0 docs which I think they are pretty clear.

If you think it can be improved in some other way, PRs are always welcome :)

[2016-06-21 13:14] #88 closed

[2016-07-05 18:30] rnicholls opened #91 "Package guzzle/guzzle is abandoned"
Package guzzle/guzzle is abandoned, you should avoid using it. Use guzzlehttp/guzzle instead.

[2016-07-05 18:32] rnicholls commented on #91
3.4

[2016-07-05 18:36] glena commented on #91
really?

3.4 is using `guzzlehttp/guzzle` check https://packagist.org/packages/auth0/auth0-php and https://github.com/auth0/auth0-PHP/blob/3.4.0/composer.json#L14

[2016-07-05 18:40] rnicholls commented on #91
let me clear my cache / uninstall and see if that fixes the issue.

[2016-07-05 18:46] rnicholls commented on #91
Yup, that was it, needed to do a remove / clear-cache from an older version. Sorry about that.

[2016-07-05 18:49] #91 closed

[2016-07-05 19:00] glena commented on #91
weird, but thx anyway :)

[2016-07-29 09:56] mpaktiti commented on #54
Update to 3.3 with PR: https://github.com/auth0/auth0-PHP/pull/89

[2016-07-29 09:56] #54 closed

[2016-07-29 12:21] dev101 opened #95 "Logs mgmt api missing?"
Any reason why [logs management api](https://auth0.com/docs/api/management/v2#!/Logs/get_logs) is not covered?
I wish PHP client was [on par](https://github.com/auth0/node-auth0/blob/master/src/management/LogsManager.js) with Node client.

[2016-07-29 12:42] glena commented on #95
seems it felt into the cracks
I will work on it when I have some free time (probably next week). PRs will be really appreciated too.

thx for reporting

[2016-07-31 14:01] Amialc opened #96 "examples missing 'logout' button"
As an enhancement, examples need to have logout button.

[2016-08-06 17:10] udf2457 opened #98 "Please add a way to set CURL_IPRESOLVE_V4 in Guzzle"
Hi,

Please can you add a way to enable "CURL_IPRESOLVE_V4" as a custom cURL option in Guzzle ? (http://docs.guzzlephp.org/en/latest/faq.html#how-can-i-add-custom-curl-options)

Calling auth0 on my system takes an eternity, and the correct way to solve this is setting CURL_IPRESOLVE_V4 in PHP cURL.

[2016-08-08 12:59] glena commented on #98
You should be able to do it using the `guzzleOptions` (http://docs.guzzlephp.org/en/latest/faq.html?highlight=curl#how-can-i-add-custom-curl-options) parameter when you initialize `Auth0Api`.

[code]

[2016-08-08 13:05] udf2457 commented on #98
Interesting. Will play around with that.  Thanks !

[2016-08-08 13:09] glena commented on #98
FYI, This `guzzleOptions` is being set to guzzle here https://github.com/auth0/auth0-PHP/blob/master/src/API/Helpers/RequestBuilder.php#L114

[2016-08-12 17:51] glena commented on #98
@udf2457  were you able to make it work?

[2016-08-12 18:57] glena commented on #95
It will be ready on the next release (`4.0.0`), I will let you know when it is ready

[2016-08-13 09:12] #98 closed

[2016-08-13 15:59] udf2457 opened #100 "Auth0AuthApi : authorize_with_ro/device"
I've a question about authorize_with_ro in Auth0AuthApi.

Surely the device parameter should be outside of "if ($id_token !== null)" ?

I don't see what purpose $id_token fulfills ?  Also, testing with https://auth0.com/docs/api/authentication#!#post--oauth-ro, the id_toke parameter is not required when using offline_access and device.

[2016-08-18 14:34] glena commented on #100
it make sense when you request an access token using the offline access scope. I will try to add this change soon with the new release

[2016-08-23 05:17] drewsymo opened #101 "Method to retrieve refresh token"
Hi,

Is there a way to fetch the refresh token from the request?

I can see it if I:

[code]

I'd like to store this on the user (backend only) so I can renew their token if their session is about to expire.

[2016-08-24 15:58] glena commented on #101
yes, it should be here https://github.com/auth0/auth0-PHP/blob/master/src/Auth0.php#L246-L248

I will throw a new release next week with that

[2016-08-30 17:16] glena commented on #95
v4 was released.

There are some classes soon to be deprecated, check the readme for more info (o the classes comments)

[2016-08-30 17:16] #95 closed

[2016-08-30 17:17] glena commented on #101
v4 was released.

There are some classes soon to be deprecated, check the readme for more info (o the classes comments)

[2016-08-30 17:17] #101 closed

[2016-08-31 00:15] drewsymo opened #103 "Linked Accounts"
Hi there,

Understandably this might be more of an Auth0 issue rather than the PHP SDK issue, but I'm wondering how we can get the primary users JWT after login?

e.g.

1. User registers using Facebook
2. User signs out
3. User comes back and registers with Google

How do we obtain the token of the Facebook account when the user logs in with a secondary account? We require this token so we can con

[2016-08-31 09:58] Amialc opened #104 "outdated auth0-php at examples"
Examples use outdated version of auth0-php library

[2016-08-31 15:39] glena commented on #103
So you have a user that has two identities linked, facebook (primary) and google (Secondary), right?

Now you are trying to get the facebook access token to call the facebook api?

in that case, you should call the management API (GET /api/v2/users/{id}) to fetch the entire user profile and check the identities collection. You will find one identity for each user linked. Filter them by the provide

[2016-08-31 23:53] drewsymo commented on #103
Hey Glena,

Thanks for your help with this one.

We don't need the access token but we do need the id_token. Imagine you have the following scenario:

1. Client logs in with Facebook.
2. Client has an account created on our PHP app with the username: facebook|23283237.
3. Client then logs in with Google.
4. Client can no longer pull their original account details from our API as the token is diffe

[2016-09-01 12:53] glena commented on #103
Ok, so you never linked the accounts then?

If you link both accounts, it will always answer with the main identity id (check this doc about account linking https://auth0.com/docs/link-accounts).

You have two options:

- link accounts using rules: the issue with that, is that the main identity will be always the secondary one if you link both accounts when the user logs in with Google. You can so

[2016-09-04 19:01] #96 closed

[2016-09-07 14:58] glena commented on #100
I released `4.0.0` with this fix. Note that there are some API changes and the old one will be soon deprecated (not a big change tho). Check the readme for the changes on how to authenticate, use the authentication api, management api and verify tokens

[2016-09-07 14:58] #100 closed

[2016-09-07 14:58] #103 closed

[2016-09-18 12:07] Crecket opened #108 "Undefined user_metadata error thrown"
When I try to get the user_metadata it will throw a error since the user's meta data is not set by default. #107
[code]
This causes:
[code]

This can easily be solved by returning a empty array or NULL if no metadata is set.

[2016-09-19 12:38] glena commented on #108
Released as `4.0.1`

[2016-09-19 12:38] #108 closed

[2016-09-26 07:55] adamgoose opened #109 "RS256 Signing - Code incomplete"
Looks like someone was working on RS256 signing, and didn't get around to finish it. :P

- [x] A `self` method is called [here](https://github.com/auth0/auth0-PHP/blob/master/src/JWTVerifier.php#L96), but the method does not exist. It appears to be deprecated, in favor it `Auth0\SDK\Helpers\JWKFetcher@fetchKeys()`.
- [x]  There's an added slash [here](https://github.com/auth0/auth0-PHP/blob/master

[2016-09-26 07:55] adamgoose commented on #109
Will work on a PR tomorrow.

[2016-09-27 20:13] bluecurio commented on #104
+1

[2016-10-03 17:53] glena commented on #109
Dont know what happened there... on it. Thx for reporting

[2016-10-03 18:16] glena commented on #109
fixed, can you check the branch `4.x.x-dev` before merging? You should be able to install it using `dev-4.x.x-dev` as the version in composer

[2016-10-03 18:17] adamgoose commented on #109
LGTM

[2016-10-03 18:31] glena commented on #109
released `4.0.3`

[2016-10-03 18:31] #109 closed

[2016-10-17 23:14] #104 closed

[2016-10-25 08:23] udf2457 opened #111 "JWTVerifier.php incorrect exception being thrown"
JWTVerifier is throwing the exception "The client_secret is mandatory when accepting HS256 signed tokens".

This is despite the fact I am initialising it as below for RS256 only.

[code]

[2016-10-25 12:16] glena commented on #111
Thx for reporting, it should be fixed on `4.0.4`

[2016-10-25 12:16] #111 closed

[2016-10-26 20:40] udf2457 opened #112 "JWTVerifier exp verification"
Hi,

From a quick look at the code it seems that the verifyanddecode process doesn't check the exp of the JWT ?

[2016-10-27 12:15] glena commented on #112
It is being verified by the JWT library https://github.com/firebase/php-jwt/blob/master/src/JWT.php#L130-L132

[2016-10-27 12:15] #112 closed

[2016-11-03 08:48] udf2457 opened #115 "Enhancement request: JWTVerifier::verifyAndDecode->app_metadata"
Hi,

At the moment, it seems that the JWTVerifier verifyAndDecode does not produce output that includes extended data when this is enabled on auth0.

i.e. it would be nice to be able to acess all elements of a JWT that looks like this

[code]

[2016-11-03 12:38] glena commented on #115
`verifyAndDecode` already returns all the claims in the token. What is included in the token depends on the scopes you asked for.

[2016-11-04 10:16] karlfranks opened #116 ""suported_algs" typo in JWTVerifier"
The suported_algs variable is misspelled with only one p.

[2016-11-11 18:09] #115 closed

[2016-11-19 05:54] stadskle opened #117 "Redirect URL in jobs->sendVerificationEmail"
Hi,

There is one feature that would be great (and simple) to add in the SDK that I now have to make a custom API call to do. That is adding a redirectURL to sendVerificationEmail.

Today the code is like this (https://github.com/auth0/auth0-PHP/blob/master/src/API/Management/Jobs.php):
[code]

I suggest:
[code]

[2016-11-21 18:39] glena commented on #117
looks good, can you send a PR? I can merge it right away and make it faster.

BTW, if `$result_url` is null, it should not add it to the body like other endpoints.

[2016-11-22 11:21] stadskle commented on #117
Pull request created (https://github.com/auth0/auth0-PHP/pull/118). Let me know if there are any issues, first time I made PR to public repo.

[2016-11-24 15:12] Pnoexz opened #119 "Example is no longer deployed on herokuapp"

[2016-11-25 13:17] glena commented on #117
merged! thank you

[2016-11-25 13:17] #117 closed

[2016-11-30 21:53] darkyen opened #121 "Add signup"
The [dbconnections/signup](https://auth0.com/docs/api/authentication#!#post--dbconnections-signup) is missing in the SDK;

[2016-11-30 21:57] glena commented on #121
why dont use post users endpoint?

[2016-11-30 21:59] remuslazar commented on #121
@glena post users is only available in the Management API, right? the initial motivation was to use the Authentication API to signup new users. (to make things simpler, not having to use a separate auth token, ..)

[2016-11-30 22:04] glena commented on #121
I will add it to the backlog but it is not high prio right now so I am not able to give you an ETA (mostly because it is not breaking). Anyway, PRs are always welcome if you are open to throw one.

[2016-12-19 17:29] glena opened #125 "Unity"
- [x] New oauth/token client (generic)
- [x] oauth/token: password
- [x] oauth/token: code
- [x] oauth/token: refresh token
- [x] oauth/token: password realm
- [x] remove oauth2 client and update examples to use oauth/token code
- [ ] Deprecate tokeninfo (new release with the notice)
- [x] Remove tokeninfo for next major
- [x] Confirm it is using only userinfo
- [x] Confirm it is using only logout

[2016-12-22 14:27] glena opened #128 "Rework tests"
We need to rework the tests to mock all the api requests.

An option is to inject the HTTP client so we can easily mock it and also we support any kind of client (we can create a new package auth0-php-guzzle and let people implement their own as long it has the same interface).

[2016-12-22 22:52] SeanZicari opened #129 "User info is empty when looking up in EU account"
I'm using the SDK on two different sites. The code is identical on both sites. However, user info comes back empty on a site deployed to Korea using an EU auth0 account.

Is this a known issue? Is there something I can do to troubleshoot why this is happening?

[2016-12-23 12:26] glena commented on #129
I just try it and works fine with an EU account.
Do you have rules in the EU account?
There might be a rule messing up with the user profile.

[2016-12-24 03:34] SeanZicari commented on #129
Thanks for trying, @glena. I disabled the only rule I had set up, but same result. I don't think it's a rule because auth0 registers the login as successful. It's just the PHP SDK that doesn't seem to find the user.

[2016-12-26 12:40] glena commented on #129
and do you see any error on the server?

if you get the access token and makes a curl request to the userinfo endpoint (https://auth0.com/docs/api/authentication#get-user-info), does it work?

`curl -H "Authorization: Bearer {ACCESS_TOKEN}" https://{account}.auth0.com/userinfo`

replace `{ACCESS_TOKEN}` with the access token you got from auth0 and `{account}` with your account name.

[2016-12-28 02:08] SeanZicari commented on #129
Hm. I got the expected response back from the procedure you outlined. I'm not sure why it isn't working in my application, though.

[2016-12-28 02:21] SeanZicari commented on #129
It's pretty clear by now that the problem is in my PHP configuration somewhere. Are there any dependencies that are just expected to be installed on the server, that are _not_ installed through composer?

[2016-12-28 02:55] SeanZicari commented on #129
@glena I figured out what the issue is. On my server, `$_REQUEST` is being sanitized, but the auth0 lib is trying to get the `code` $_GET param from it. Do you have any recommendations for fixing this issue? Thanks!

[2016-12-28 12:22] glena commented on #129
Oh I get it.

Well you have two options, you fork the sdk and add a param to the `exchangeCode` method so you can inject the code and avoid trying to get it from `$_REQUEST` and then send a PR  :) https://github.com/auth0/auth0-PHP/blob/master/src/API/Oauth2Client.php#L239

I can release a patch version for v4 with that change and include it in the next version (v5) that will be released soon. For

[2016-12-28 17:06] SeanZicari commented on #129
Opened PR #130.

[2016-12-29 16:16] SeanZicari commented on #129
For now, I've changed my local auth0 install to use `$_GET`. I will be revisiting the PR when I have time to finish debugging it.

Do you have any advice for understanding what failed? I couldn't find definitive failure info from the test output.

[2016-12-29 16:35] tms320c opened #131 "Request parameter(s) clash"
Oauth2Client.php logic depends on request parameter:
`isset($_REQUEST['code'])`

Thus, if a form uses input name 'code' and the form action should pass Auth0 verification then Oauth2Client gets irrelevant code and fails.

This happens in Laravel 5.3 with most recent Auth0 at least.

[2016-12-30 12:33] glena commented on #129
I guess you might have the `request_order` configuration different between environments. (http://php.net/manual/en/ini.core.php#ini.request-order).

PHP can merge GET POST and COOKIES into REQUEST but you can tweak that. Since having COOKIE is not a good idea some people changes that configuration and in your case it might be missing GET.

Anyway, it is a good idea to move away from REQUEST and in

[2016-12-30 12:42] glena commented on #131
yes, the upcoming version of the sdk will not use REQUEST but the issue here is not that.

can you show me your configuration file (please remove the client_id and secret before posting). The SDK only tries to exchange the user if there is no user logged in (not persisted into the session) so that might be why it is trying to get the code to exchange (https://github.com/auth0/laravel-auth0/blob/02

[2016-12-30 12:52] glena commented on #129
`4.0.9` is out with your PR

[2016-12-30 12:52] #129 closed

[2016-12-30 21:27] fgilio commented on #131
I'm experiencing a related problem: https://github.com/auth0/auth0-PHP/pull/130#issuecomment-269823828

The new change seems to be breaking things in my implementation, which was working ok before.

[2016-12-30 21:28] glena commented on #131
@fgilio upgrade to 4.0.10 and try again

[2016-12-30 21:29] fgilio commented on #131
Ok, I'll let you know. Thanks!

[2016-12-31 15:49] tms320c commented on #131
I have just updated to 4.0.11. Same problem at another line of Auth0 code. If my form contains a field with name 'code':

`ApiException in Oauth2Client.php line 266: invalid_grant: Invalid authorization code

    in Oauth2Client.php line 266
    at Oauth2Client->exchangeCode() in Oauth2Client.php line 399
    at Oauth2Client->getAccessToken() in Auth0Service.php line 65
    at Auth0Service->getUse

[2016-12-31 15:53] glena commented on #131
The upgrade comment was for fgilio. Did you check my first comment?

You need to change the repo to avoid calling the sdk on each request. Otherwise it will try to get the code and do the exchange if the user is not logged in.

[2016-12-31 15:55] tms320c commented on #131
It happens only if a user that is verified by Auth0 is logged in. I use Laravel guard in middleware, so the application tries to auth user at each request

[2017-01-02 13:19] glena commented on #131
@tms320c I found the reason of that. Can you upgrade the laravel sdk (auth0/login) to version `4.0.7` and then change the sdk configuration (under `config/laravel-auth0.php`) and make sure this 3 configurations are set to true:

[code]

[2017-01-02 16:08] tms320c commented on #131
Great! No problem now! Thank you very much!

[2017-01-02 16:13] glena commented on #131
awesome!

[2017-01-02 16:13] #131 closed

[2017-01-23 06:33] angusykl opened #133 "Install Issues via Composer"
Hi there,

I am having trouble to install the sdk via composer with following errors -

[code]

[2017-01-23 12:22] glena commented on #133
Can you share your composer.json file to see which dependency could produce the conflict?

[2017-01-23 14:25] araneta opened #134 "Silex"
How to use this library with Silex? Could you give me some example?

[2017-01-23 14:28] glena commented on #134
Is it an API using JWT or a webapp using session?

[2017-01-23 14:29] araneta commented on #134
JWT

[2017-01-23 14:43] glena commented on #134
It is simple, you can add a middleware to do the JWT verification like the following:

[code]

Also, check the docs about silex middlewares if you are not familiar with them http://silex.sensiolabs.org/doc/2.0/middlewares.html

[2017-01-23 23:13] araneta commented on #134
I cant install composer require auth0/auth0-php on Silex 2
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - herrera-io/silex-pdo 1.2.1 requires silex/silex 1.* -> satisfiable by silex/silex[1.0.x-dev, 1.1.x-dev, 1.2.x-dev, 1.3.x-dev, v1.0.0, v1.0.1, v1.0.2, v1.1.0, v1.1.1, v1.1.2, v1.2.0, v1.2.1, v1.2.2, v1.2.3, v1.2.4, v1.2.5, v1.3.0, v1.3.1, v1.3.2, v

[2017-01-23 23:34] glena commented on #134
that issue seems to be related to silex-pdo (which has no dependency in common with auth0-php) not the auth0 sdk. If you remove `herrera-io/silex-pdo` does it run well?

[2017-01-24 01:01] araneta commented on #134
thanks its working

[2017-01-24 01:27] araneta commented on #134
then how to integrate it with the login process? and how to protect this route /api/** ?
Thanks

[2017-01-24 12:31] glena commented on #134
about the login process, I would recommend you to check our docs for example (https://auth0.com/docs/architecture-scenarios). Also you can check any of our SPA seed projects to see how the client should integrate with auth0 to fetch a token when the user logs in and how to send it to the api https://auth0.com/docs/quickstart/spa/vanillajs (this is one with vanilla js, there are other options too)

[2017-01-24 12:31] #134 closed

[2017-02-02 14:04] #133 closed

[2017-02-09 01:36] SeanZicari commented on #56
@SimonEast Did the leeway setting work for you? What setting did you settle on?

[2017-02-11 03:07] SimonEast commented on #56
@SeanZicari I actually can't remember what I did with it 12 months ago, I'm sorry. I'd have to dig through my source code, which I may not get time to do very soon due to life circumstances. I apologize.

[2017-02-18 19:56] brandonwilliams opened #136 "Database"
Hi, beginner question:
If I wanted to connect to my own localhost Mysql database to retrieve and return data from within a secure function (in a secured route), what is the best way to do that? I seem to be getting a lot of "unexpected end of json input" errors from my angular 2 authHttp calls. Thanks.

[2017-02-20 12:47] glena commented on #56
@SeanZicari the leeway should do the trick, anyway if it is posible check that your server's timezone is well configured and that it is sincronized with an NTP server so it keeps up to date.

Also, can you check what is the difference between the server time and the current time?

[2017-02-20 19:46] brandonwilliams commented on #136
Error on my part. The data itself was messing with my json. Had to utf8_encode($string) my data.

[2017-02-20 19:46] #136 closed

[2017-02-20 19:57] glena commented on #136
I was answering when your comment came in, glad you find out

[2017-02-20 20:14] brandonwilliams commented on #136
Thanks

[2017-02-20 20:39] brandonwilliams opened #140 "Passing parameters/variables via get or post"
Is there any built-in system for retrieving get (or post) params/variables, or should we just do it the regular $_GET['search-term'] way?

Ex: $router->get('/secured/search/{search-term}', function() use ($app){ ... }

(where search-term is passed as a variable), and if so, does it clean input automatically?

Thanks.

[2017-02-20 21:05] brandonwilliams commented on #140
I just realized that this is a bramus/router issue...

...aaaaand found it right away. lol

[2017-02-20 21:05] #140 closed

[2017-02-20 23:32] glena commented on #140
hahahah good :)

[2017-02-22 23:51] SeanZicari commented on #56
@glena Thanks! I increased the leeway to 120 seconds. Is that excessive? It did seem to resolve the issue.

[2017-02-23 08:12] Jakooth opened #142 "JWTVerifier RS256 example is misleading"
I was struggling to authenticate with RS256 until finally I decided to debug the JWTVerifier method.
It came up the 'authorized_iss' => [$domain] must be strictily in this format:
"https://yourdomain.eu.auth0.com/"

In all other use cases from JavaScript or PHP the domain part "https:// ... /" is not required, but here the id_token is decoded with the entire URL and without the HTTP prefixes it wi

[2017-02-23 12:15] glena commented on #56
@SeanZicari it is not a good idea because you are opening the expiration window. It is always better to try to keep the server time in sync to avoid future issues.

[2017-02-23 12:16] glena commented on #142
you are right, I will change this in the README. thx

[2017-02-23 12:16] #142 closed

[2017-02-23 20:16] SeanZicari commented on #56
@glena That makes sense. The issue I was having seemed to be related to one individual auth0 account that was causing that error to be thrown when trying to log in as them. I don't know enough about what's going on behind the scenes to know how else to fix it.

[2017-02-23 20:18] glena commented on #56
if you have ssh access to the server, you can check the time of it (if it is linux by running `date`) and check if it is correct (time and timezone). Probably it is some minutes off.

If that is the case, I would recommend to configure it to be in sync with an NTP service or if it is already configured you will need to troubleshoot why it is not working.

[2017-02-24 15:39] SeanZicari commented on #56
Ok, so it sounds like the problem I am having periodically should
definitely never happen when the time is in sync with a time server.

On Thu, Feb 23, 2017 at 12:19 PM Germán Lena <notifications@github.com>
wrote:

[2017-03-06 01:49] nnats opened #144 "auth0-php out of date."
auth0-php is out of date on composer.json, the last version is 5.0.2.

![image](https://cloud.githubusercontent.com/assets/20141842/23594113/ee079634-01f5-11e7-9f35-484ac1a35890.png)

![image](https://cloud.githubusercontent.com/assets/20141842/23594117/f34f69fa-01f5-11e7-9106-262b56232931.png)

[2017-03-06 02:50] nnats opened #145 "Error 401 Unauthorized."
The Sample project is resulting in a 401 error even though all the readme.md suggestions are followed trough, a recent change to the code sample was made and needs to be specified in the documentation how to handle it.

Steps to reproduce:
- Download sample project.
- Adjust .env file as requested.
- Start the server.
- Make a request from postman adding Authorization -IDTOKEN- as Headers.

Expect

[2017-03-06 12:20] glena commented on #144
Sorry, which composer.json are you talking about?
is it the api example?

[2017-03-06 12:23] glena commented on #145
Did you download this one https://github.com/auth0/auth0-PHP/tree/master/examples/basic-api or from the docs page?

[2017-03-11 23:25] nnats commented on #144
Hello German

I see that I've missed the reference to the specific folder, sorry for that, but you guess it, and not only that, you fixed it with this commit https://github.com/auth0/auth0-PHP/commit/415bf49b11d672119d87ab34d6b47a9e1fbb1b7a#diff-ad0c22b2778299f3a1cffb85280601d9

[2017-03-11 23:43] nnats commented on #145
Yes, that one, the same link is given in the quickstart page of this API. If I had to make a quick guess, I'll say the steps documented won't be enough after this https://github.com/auth0/auth0-PHP/commit/dce584cc1282c7c8ecbb2a5e2311c64dc78e8da1#diff-c975ed3f9f6da8de7c99c34fba267499

[2017-03-13 15:47] glena commented on #144
🙌 good

[2017-03-13 15:47] #144 closed

[2017-03-13 15:49] glena commented on #145
That is because that sample was change to work with RS signed tokens, take a look to this one https://github.com/auth0-samples/auth0-php-api-samples/tree/master/02-Authenticate-HS256

BTW we are in the process to update the PHP quickstarts in based on the recent changes, sorry for the confusion.

[2017-03-22 20:28] mbadolato opened #150 "Cannot new up an Oauth2Client instance"
```Oauth2Client``` is dependent on the ```Oauth\Client``` class from the ```adoy/oauth2``` package. This package is not in the composer require block in 5.0.3, so trying the new up an instance faills

[code]

![screen shot 2017-03-22 at 1 26 12 pm](https://cloud.githubusercontent.com/assets/164615/24219188/297da130-0f03-11e7-86d7-ccfab8b6b359.png)

[2017-03-23 00:04] mbadolato commented on #150
Just ran a code coverage test on the library and saw that ```Oauth2Client``` is not touched by the suite, explaining how this bug made it into the wild.

Given that ```Auth0.php``` is deprecated as of 4.0 and that ```Authorization``` and ```Oauth2Client``` are the recommended replacements (per the [README)](https://github.com/auth0/auth0-PHP/blob/master/README.md#40), this should probably be consi

[2017-03-23 12:13] glena commented on #150
This is the correct way to handle this https://github.com/auth0/auth0-PHP#oauth2-authentication

[2017-03-23 12:13] #150 closed

[2017-03-27 08:43] Nyholm opened #151 "Decouple for Guzzle with HTTPlug"
I just started to use your service but I cannot install this library because I have other dependencies require Guzzle 5.

I would be happy to help decouple from Guzzle and use the HTTPlug abstraction.

Disclaimer: Im part of the php-http team. We are creator of HTTPlug and maintainers of Guzzle.

[2017-03-27 12:04] glena commented on #151
Hi Nyholm,

I saw HTTPlug some time ago when I was looking to decouple from guzzle but never had  time to implement it. It would be awersome if you can throw a PR.

[2017-03-27 12:04] Nyholm commented on #151
Great. I will. Thanks!

[2017-03-27 12:07] glena commented on #151
Thank you

[2017-03-27 15:48] tonylucas opened #152 "supported_algs or supported_algs ?"
Hi,

I spent long and long hours to debug my code.

In "Getting started" section there is in the example :
`'supported_algs' => ['RS256'],`

In JWTVerifier.php file :
` if (isset($config['suported_algs']))`

So it won't ever work because it's not written the same way... 👎

[2017-03-27 15:51] glena commented on #152
it is fixed in the latest version https://github.com/auth0/auth0-PHP/blob/master/src/JWTVerifier.php#L73

which version are you using?

[2017-03-27 16:09] tonylucas commented on #152
Yes it was an older version, I don't know why composer didn't installed the latest.

[2017-03-27 16:09] #152 closed

[2017-03-27 16:10] glena commented on #152
maybe cache?

glad it works fine now

[2017-03-28 14:15] tonylucas commented on #152
I have another question about this parameter :
`'valid_audiences' => [$client_id]`

In my configuration it is only working if I provide an audience like https://***.eu.auth0.com/api/v2/
And it doesn't work if I provide a client_id.

[2017-03-28 14:39] glena commented on #152
Can you show me how are you authenticating the user?

Seems you are getting an access token asking for the management api audience.

If you use an id_token to call your API, you should use the client_id (we are recommending not to do this, we are working on the docs so some of them might be outdated)

In your case you might be using the access token, in that case you should create an api in the da

[2017-03-28 14:50] tonylucas commented on #152
In fact I have no user, I just want to secure requests between a Vue.js client app and a PHP API.

If I set client_id as valid_audience, and if I try to verifyAndDecode a token, I get "this token is not intended for us".

[2017-03-28 15:02] glena commented on #152
`In fact I have no user` so how do you get the token?

[2017-03-28 15:07] tonylucas commented on #152
I get the token by issuing a post request to https://***.eu.auth0.com/oauth/token
But it needs client_secret to be sent so I think it is not the good way in client web app :/

[2017-03-28 15:08] glena commented on #152
no, you shouldn't do that.

Doing this is the same than not having any security at all (I can easily copy that code and issue tokens to call your api, which is the same than not having it).

[2017-03-28 15:10] tonylucas commented on #152
Yes I am understanding this now.
So which solution should I use to secure my requests, and to be sure only my app can call the API ?

[2017-03-28 15:14] glena commented on #152
if your app requires a user to log in, you should use the user access_token to call your apis.

If it doesn't, all the info your app has is already public so there is no point in "securing" those requests (I can easily crawl your site instead of calling your apis).

[2017-03-30 08:32] Nyholm commented on #151
I've started to dig into this issue now. I see that there is no central point of this API. It is basically 4 different API classes that work independent of each other.

There is also a lot of magic and it would be impossible to to a non-BC breaking update to remove the dependency on Guzzle because of the GuzzleOptions parameters.

I suggest to start a cleanup (see my PRs) and then move towards som

[2017-03-30 21:04] #145 closed

[2017-04-03 12:02] glena commented on #151
`I've started to dig into this issue now. I see that there is no central point of this API. It is basically 4 different API classes that work independent of each other.`

Everything is centralized within this class https://github.com/auth0/auth0-PHP/blob/master/src/API/Helpers/ApiClient.php

There is no centralized entry point which is true tho, but it is really 2 different api clients (one for au

[2017-04-03 12:54] Nyholm commented on #151
Yes, I have to inject the HTTPclient configured.

There is no magic =)

I have to remove the guzzle_options. That will be a BC break. Are you okey with that?

[2017-04-03 12:57] glena commented on #151
Good.

Yes, it is not widely used. Later I can figure out if a minor with a big warning is enough or if I should release a mayor.

[2017-04-03 12:59] Nyholm commented on #151
Okey, great!

[2017-04-09 08:27] Nyholm opened #159 "Avoid using public properties"
Example on Api\Management.

This would be a BC break so it should be done before next major release.

[2017-04-09 08:29] Nyholm opened #160 "Removed the CacheHelper interface"
We should use PSR16 instead.

This would be a BC break.

[2017-04-09 08:31] Nyholm opened #161 "Remove deprecated functions and classes"
This issue is just a friendly reminder that we should remove all deprecated function before tagging a new major release

[2017-04-09 08:31] Nyholm opened #162 "Make as many classes as we can final"
We should also use `private` instead of `protected` as much as we can.

[2017-04-09 08:47] Nyholm opened #165 "Avoid namespace in plural"
It is good practice to always have namespace in singular. Like `Helper` instead of `Helpers`

[2017-06-07 09:02] lchachurski opened #167 "Obtain token for Management with SDK"
Is there a way to obtain a token which could be used for Management API without trying to log in any user? I'm referring to this https://auth0.com/docs/api/management/v2/tokens

Why I'd like to do, is to perform following action with SDK:
[code]

Thanks

[2017-06-21 09:20] magnusnordlander opened #168 "Auth0\SDK\API\Management\Users::deleteAll does not work"
Calling `Auth0\SDK\API\Management\Users::deleteAll` issues a `DELETE` HTTP request to `https://tenant.eu.auth0.com/api/v2/users`, however, that endpoint does not seem to allow `DELETE` requests, as the following exception is thrown:

[code]

Is that endpoint supposed to exist within the v2 API, or should the `deleteAll` method be removed?

[2017-06-21 11:39] cocojoe commented on #168
The endpoint used to be able to delete all, however this particular endpoint now requires a userId.
https://auth0.com/docs/api/management/v2#!/Users/delete_users_by_id

The new call is `DELETE /api/v2/allusers`

[2017-06-22 14:43] #119 closed

[2017-06-22 17:30] cocojoe commented on #167
Please take a look at https://github.com/auth0/auth0-PHP/blob/master/src/API/Authentication.php#L361

[2017-06-22 17:31] cocojoe commented on #116
This was amended.

[2017-06-22 17:31] #116 closed

[2017-06-22 17:33] cocojoe commented on #128
Hopefully #158 will make this job easier 😄

[2017-06-22 17:37] cocojoe commented on #160
General question, what is the benefit to developer?

[2017-06-22 17:41] cocojoe commented on #159
I'm open to PR's for v6 😄

[2017-06-22 17:44] Nyholm commented on #160
This interface is an extra layer of abstraction. We should use the PSR because it is a community standard.

The benefit for the developer is less code to read and use.

[2017-06-22 17:46] Nyholm commented on #159
Of course, I will make many PRs after my major PR is merged.

[2017-06-22 17:51] cocojoe commented on #159
I want to go through the PRs tagged as v5-Next and get that released, then branch that to start the 6.x.x branch.

[2017-06-22 17:56] Nyholm commented on #159
Excellent!

[2017-06-22 18:55] Nyholm commented on #128
Yes, It will.

I can look into improve this

[2017-06-23 07:23] Nyholm opened #169 "Only support PHP7"
In version 6 if this library, what if we only support PHP7?

Scalar type hints for the win!

[2017-06-23 10:20] cocojoe commented on #165
Well it's nice to adhere to coding standards, as long as it doesn't introduce a laundry list of breaking changes to public API as the real world benefit in negligible.

[2017-06-23 10:20] #165 closed

[2017-06-23 10:21] cocojoe commented on #161
I'm going to close as PR is tagged now.

[2017-06-23 10:21] #161 closed

[2017-06-23 10:23] cocojoe commented on #159
Again I don't mind, but it's really coding style / best practice. However if it means a developer has to rewrite a load of code to migration to 6.x.x it's not so good.  The migration path should be as minimal as possible,

[2017-06-23 10:23] #159 closed

[2017-06-23 10:29] cocojoe commented on #169
This will not happen anytime soon, perhaps when 5.6 reaches the end of its LTS.  This is not to say there couldn't be a PHP 7 branch in the future.

[2017-06-23 10:34] cocojoe commented on #128
Also we need lots more tests in general. But this is a good starting point.

[2017-06-23 11:20] Nyholm commented on #159
I agree with you on the namespaces, but this issue is more than just coding standards. I think we should reconsider in this case.

I will send a PR with a approach that are a bit different.

Btw, I've been doing loads of API clients. The best approach is to do something similar to https://github.com/KnpLabs/php-github-api

See example here:  https://github.com/FriendsOfApi/boilerplate

[2017-06-23 11:22] Nyholm commented on #169
Okey. It was just an idea.
Btw, 5.6 has not have active support for almost 6 months. http://php.net/supported-versions.php

[2017-06-23 11:30] cocojoe commented on #159
I am not dismissing this out of hand, best practice is important.  I'm simply saying that any Public API changes must offer a clean as possible migration path to ensure easy adoption of 6.x.x+ 😄 So please feel free to submit something and lets look at it.

[2017-06-23 11:42] cocojoe commented on #169
I would rather 6.x.x improved things as they are, lots to do first. Then we can revisit in the future and perhaps it will then make sense to move 6.x.x to security fixes and then look at 7.x.x for PHP 7. All subject to change of course, @glena you have any strong thoughts on this?

[2017-06-23 11:56] glena commented on #169
Besides 5.6 not being actively support, there is a huge amount of people still using it (believe it or not there were some customers using 5.3 pissed off because of lack of support).

Also, since it is just an SDK, I dont see a lot of gain on doing that (some syntax sugar but not big improvements)

[2017-06-26 07:53] cocojoe commented on #151
@glena What were you final thoughts on major vs minor? I would say major as there are breaking changes, see the update PR comments.  However wanted to check this with you first.  Thx

[2017-06-26 12:50] glena commented on #151
Yes, it should be a major:
- we are changing the public contract
- Besides it is mostly internal, it is a huge change

[2017-06-26 14:16] cocojoe opened #171 "6.x.x Launch"
- [ ] README
- [ ] Migration Guide (Breaking Changes)
- [ ] QuickStarts

[2017-06-27 10:08] #169 closed

[2017-06-27 10:08] #151 closed

[2017-06-29 08:14] cocojoe commented on #171
Notes: 5.6+

[2017-07-04 08:35] #160 closed

[2017-07-04 08:38] cocojoe commented on #162
I'm going to close this, I agree and as such should be reflected in the PRs etc

[2017-07-04 08:39] #167 closed

[2017-07-04 12:35] Nyholm opened #178 "Consistent use of camelCase convention"

[2017-07-04 12:36] Nyholm opened #179 "Reduce the number of protected properties."

[2017-07-04 13:32] lchachurski commented on #167
thanks!

[2017-07-04 14:14] cocojoe commented on #178
Perhaps we should have one issue for these types of issues and have a checklist, if we want to use it as a public tracker, vs multiple similar issues.

[2017-07-04 14:17] Nyholm commented on #178
Hm, we do not have an overflow of issues nor PRs at the moment. So I guess it will be over kill.

I wrote it here as a reminder for myself and also to tell you (the maintainers) what my plans are. I will start work on this when/if #176 is merged. I do not want to deal with conflicts =)

[2017-07-07 13:34] cocojoe commented on #168
It was decided to remove this method as it's a dangerous one, it can still be accessed manually if required.

[2017-07-07 13:34] #168 closed

[2017-07-12 19:38] cocojoe commented on #171
@glena what are your thoughts on a 6.0 pre-release, what other areas do we need to look and what related SDKs are priority (ones want actually want to maintain going forward) to migrate to 6.0? Thx

[2017-07-12 19:43] glena commented on #171
Good idea to relase a beta so folks can test it out a little bit.
Laravel and symfony upgrades are a must (we dont need to rush tho). Also we need to figure out how to handle HTTP plug on those.

We need to:
- upgrade readme with a BC breaks notice and a mention to the new http client abstraction (and how to use it, probably just link to the http plug docs)
- quickstarts should be pretty straight

[2017-07-12 19:46] cocojoe commented on #128
Let's look at http://guzzle3.readthedocs.io/testing/unit-testing.html

[2017-07-13 08:53] Nyholm commented on #179
This is now fixed in the 6.x branch.

[2017-07-13 08:53] #179 closed

[2017-07-13 09:29] Nyholm commented on #171
I would also like to see a pre release. Im working on https://github.com/happyr/auth0-bundle and would like to try out if we need anything else before a final 6.0.0.

There are some PRs open atm. I don't have anything more after those (as I know of now). May I suggest to release a alpha after the open PRs are merged?

[2017-07-13 12:27] glena commented on #171
sounds good.

Also, that  bundle looks good @cocojoe we should add that one (once finished) in the list of SDK (community supported)

[2017-07-15 18:22] Nyholm commented on #162
Fixed in #185

[2017-07-15 18:22] #162 closed

[2017-07-31 11:01] Nyholm opened #190 "Management API must throw some exceptions"
If the response is invalid we should throw exceptions.

[2017-07-31 12:38] Nyholm opened #191 "Request for an alpha release of 6.0.0"
I would like to start to do some testing for the new 6.0.0 branch. Could we tag an Alpha pre-release?

[2017-07-31 13:10] Nyholm opened #192 "Add support for configure cache"
We want to cache some request. We should allow people passing a PSR cache to the client builder.

See KNP/Github: https://github.com/KnpLabs/php-github-api/blob/2.5.0/lib/Github/Client.php#L355

[2017-07-31 14:59] cocojoe commented on #191
Sure, just use the head of 6 dev branch ? I can tag it if this is necessary for whatever you're pulling it with.

[2017-07-31 15:03] cocojoe commented on #190
What kind of situations are you considering `invalid` to be?

[2017-07-31 15:05] Nyholm commented on #190
When the server responds with 4xx or 5xx

[2017-07-31 15:06] Nyholm commented on #191
Yeah. That would be great

[2017-07-31 16:14] cocojoe commented on #190
Could probably say anything other than 2xx @glena thoughts?

[2017-07-31 16:15] cocojoe commented on #192
What scenarios would I want to store responses? With an Auth API I would always expect to be requesting fresh responses?

[2017-07-31 16:20] cocojoe commented on #191
I think certainly #188 should be in alpha, however it can go in the next minor.  For now you can play with `6.0.0-alpha.1`

If you can report back on findings.  Thx

[2017-07-31 16:20] glena commented on #190
Not a fan of exceptions when the language does not forces you to handle them... but I am ok with that (with php it is not a big deal since it will break only the current request.

We should document it well (a warn somewere?)

[2017-07-31 16:20] glena commented on #190
Not a fan of exceptions when the language does not forces you to handle them... but I am ok with that (with php it is not a big deal since it will break only the current request.

We should document it well (a warn somewhere?)

[2017-07-31 17:40] Nyholm commented on #192
Say /userinfo. You may want to cache that for 5 min to avoid hitting the rate limit.

[2017-07-31 17:44] Nyholm commented on #190
Naturally. I can create a small PR for the Blacklist API

[2017-07-31 18:12] Nyholm commented on #191
Awesome. Thank you!

[2017-07-31 18:12] #191 closed

[2017-08-01 09:17] cocojoe commented on #192
I feel persistence strategy should be the responsibility of the developer, secure sessions perhaps?
@glena any strong feelings on this?

[2017-08-01 09:22] Nyholm commented on #192
That is fine. We just add some docs for it then.

[2017-08-03 11:25] baschny opened #196 "Re-add /delegation endpoint"
Even thou the `/delegation` endpoint was deprecated, there is no replacement yet for this functionality (to get a token to authenticate to a third party API).

https://auth0.com/docs/api-auth/intro#delegation

Quoting:

We use that in our application and are currently stuck to 4.0.13, as it was simply removed in 5.0.0: see https://github.com/auth0/auth0-PHP/commit/9038b844e2804785f7edf64c060afcf59

[2017-08-03 13:25] Nyholm commented on #196
Thank you for this issue. From what I can se on the authentication docs:

Im not sure we should **add** removed features.

[2017-08-03 16:11] baschny commented on #196
Ok, I understand! We are registered before 8. June, so we still have this feature available. So we will stick to 4.x for now and see how we can replace the functionality in some mid-term future.

[2017-08-03 16:11] #196 closed

[2017-08-03 16:24] Nyholm commented on #196
I can tell you that version 6.0.0 will be awesome. Stay tuned =)

[2017-08-08 16:36] Nyholm opened #199 "Be consistent with naming of API functions"
We usually do API::get and API::getAll, But for some APIs (ie ClientGrants) we do `ClientGrants::get($audience=null)`

[2017-08-08 16:37] Nyholm opened #200 "Implement ResourceServices::getAll"
It is currently missing: https://auth0.com/docs/api/management/v2#!/Resource_Servers/get_resource_servers

[2017-08-08 17:09] Nyholm opened #202 "Rename Api\Management\Users to singular"
One should always use singular for namespaces and classes.

[2017-08-09 09:47] cocojoe commented on #200
Good spot, there is no getAll. It should be there for completeness. @glena can't see any reason not to?

[2017-08-09 11:59] glena commented on #200
probably the endpoint wasnt there by the time I added those :P
yes, we should add it

[2017-08-12 09:13] sohailrajdev97 commented on #56
@glena Thanks. This solved the problem.

[2017-08-29 18:37] nelsonfncosta opened #206 "Unable to call Authentication API"
Following the example
[code]
I get a connection error `cURL error 7: Failed to connect to https port 443: Connection refused`

but passing a guzzleOptions like so

[code]
I am able to do a successful request and get my access_token.

Am I missing some sort of strict validation of sorts? How can I do this without additional curl options?

ty

[2017-08-30 10:26] nelsonfncosta commented on #206
Bad attention of my part, was including https:// on my domain.

[2017-08-30 10:26] #206 closed

[2017-09-05 05:48] ashishdasnurkar opened #208 "Feature Request: Support sending `auth0-forwarded-for` header"
For Resource Owner Password grant, support sending end user's ip as described here https://auth0.com/docs/api-auth/tutorials/using-resource-owner-password-from-server-side#sending-the-end-user-ip-from-your-server

[2017-09-05 05:53] Nyholm commented on #208
Have a look at the 6.x.x branch. You can easily include this yourself by using the AddHeader plugin to the http client.

[2017-09-05 22:55] mscharley commented on #208
6.x is still in Alpha. Do you recommend using it in production already?

[2017-09-06 03:55] Nyholm commented on #208
I've been using it in prod for a bunch of app since it was released. Though, I'm not doing much fancy things.

[2017-09-06 09:28] cocojoe commented on #208
@mscharley No, 6.x.x should NOT be used in production.

[2017-09-06 10:08] Nyholm commented on #208
Sorry, If I was unclear.

@cocojoe is correct. 6.x.x SHOULD NOT be used in production.

However, I am using it in production and it works perfectly for me.

[2017-09-15 16:34] lekoala opened #209 "OIDC-conformant clients return an empty profile"
When using the sdk (latest version), with a client with the option OIDC-conformant set to true (which is the default now), the profile that is returned is empty.
Any ideas why? it's very disturbing (lost an hour) before understanding what was the issue. The readme does not help at all:

[code]

$profile is not even defined in this snippet...

also, with the latest sdk, adoy/oauth2 is not required

[2017-09-15 18:15] cocojoe commented on #209
Can you confirm the version # please, also provide the snippet you are using, please don't paste your secret.

Thx

[2017-09-16 15:32] lekoala commented on #209
I'm using version 5.0.5

You can see that adoy/oauth2 is not in the composer file (it should be at least suggested)
https://github.com/auth0/auth0-PHP/blob/5.0.5/composer.json

Short snippet:

    $client = $this->getClient();

        try {
            $user = $client->getUser();
        } catch (Exception $ex) {
            $user = null;
            SS_Log::log($ex, SS_Log::WARN);
        }

At

[2017-09-18 20:30] cocojoe commented on #209
If OIDC has been toggled on in the dashboard, you will only receive the `sub` in the profile unless you specify an additional scope like `profile` so try setting scope to `openid profile`.

Worth take a looking through https://auth0.com/docs/api-auth/tutorials/adoption/oidc-conformant

[2017-09-19 11:17] lekoala commented on #209
I tried setting the scope but it wasnt working. Maybe I should try again. Anyway since it's the default for new clients and the setting is hidden in the advanced options it would make sense to update the readme so that the snippets provided are working out of the box

[2017-09-19 13:36] cocojoe commented on #209
I had a quick look at your code, if you are using webAuthentication you need to set it as part of the JS. Have a look at the example here:

https://auth0.com/docs/quickstart/webapp/php/01-login

Yes agree on the README it could be clearer, it's a bit of a transition. The next version of this lib 6.x will be OIDC first. Thanks for that feedback.

[2017-09-19 18:21] lekoala commented on #209
ok that make sense. I'll try that :-) thanks for the support

[2017-09-19 18:21] #209 closed

[2017-09-30 07:22] victoriafrench opened #210 "Support for php-jwt 5"
When will support for php-jwt 5 be coming? We have other composer plugins that require 5 and this is becoming an issue. google/apiclient has its dependency set to 4.0 || 5.0. Will an update be coming for this?

[2017-10-02 08:57] cocojoe commented on #210
@victoriafrench This seems like an ideal update for 6.x (although there is no firm release date for this). I had a quick look and although it is a major, there is no mention of any breaking changes or migration requirements. Did you try setting `4.0 || 5.0` out of interest?

[2017-10-02 18:23] victoriafrench commented on #210
@cocojoe no we haven't tried yet. We are just now integrating the sdk in our site. That is the reason it came up as we were trying to figure out how to make things coexist together.

[2017-11-13 22:17] garnold opened #215 "SessionStore overrides PHP session cookie lifetime setting"
Hello,

`Auth0\SDK\Store\SessionStore` overrides the PHP session cookie lifetime setting from `php.ini` if the session is not already started prior to initializing Auth0:

https://github.com/auth0/auth0-PHP/blob/master/src/Store/SessionStore.php#L41

Calling `session_start()` in that method is ok, but setting the cookie lifetime is an unexpected side effect given that `SessionStore` is automatical

[2017-11-21 12:43] devAxeon opened #217 "DOC maj"
Can you please add the #/login explanation on "redirect_uri" param in your doc ?
Spend a lot of time to find this...
Thank you

[2017-12-27 10:43] jmangelo opened #222 "The Management API method to update tenant settings is not sending any data"
If you do something like:

[code]

it will throw:

The issue seem to be that `tenants->update` does not actually send the `$data`. A quick change from the current:

[code]

to

[code]

seems to fix the issue. However, I wrote my first line of PHP code **today** so I won't even dare to submit that as a PR without confirmation from someone else.

[2017-12-27 11:18] cocojoe commented on #222
Can you link to the line in question please.

[2017-12-27 11:26] jmangelo commented on #222
https://github.com/auth0/auth0-PHP/blob/master/src/API/Management/Tenants.php#L42

[2017-12-27 11:40] cocojoe commented on #222
Thanks, just checked MGMT API Docs, your proposed changes look good. Please create your first PHP PR 👍

[2017-12-27 14:14] fsiatama commented on #56
ntpdate -q 0.rhel.pool.ntp.org
chkconfig ntpdate on
service ntpdate start

[2017-12-29 15:13] #222 closed

[2018-01-26 18:48] RobMaple opened #224 "Double Login / Logout"
I've come across a strange issue that seem to allow a user to login twice and then requires logging out twice.

This happens when:
• a user logs in to the secured area of the app
• then navigates back with the browser back button.
• This prompts the 'Last time you logged in with' login screen which allows you to then login using the remembered account
• This returns you to the secured area.
• If y

[2018-02-05 17:56] AlexKopen opened #225 ""We can't trust on a token issued by" core exception being thrown"
Every time I hit my api, a "[can't trust on a token issued by](https://github.com/auth0/auth0-PHP/blob/master/src/JWTVerifier.php#L114)" exception is being thrown by the JWT Verifier library.

Commenting out this conditional check seems to do the trick; all other token validation works as expected.  Is there any reason this exception is being thrown?

[2018-02-05 20:19] cocojoe commented on #225
So what value are you setting for `$config['authorized_iss']` and what values are returned in the `iss`?
https://jwt.io/

[2018-02-05 20:24] AlexKopen commented on #225
@cocojoe , looks like I was missing a trailing slash in my `authorized_iss`.  Thank you for reminding me to double check this value

[2018-02-05 20:24] #225 closed

[2018-02-09 01:31] anam-hossain commented on #210
@cocojoe Please bump `php-jwt` version to 5.0. I think, this will not break any feature.

[2018-02-09 10:31] cocojoe commented on #210
@joshcanhelp can you take a look at this please, the min PHP for `php-jwt` 5.0 is 5.3 which is fine as our lib is min 5.5. It is however a major release so needs checked for any Breaking Changes in the API and tested.

[2018-02-12 20:00] joshcanhelp commented on #210
@cocojoe - I ran through the 5.0 release and nothing jumps out at me. Ran through the unit tests and everything related passed. Differences in the library are here:

https://github.com/firebase/php-jwt/compare/v4.0.0...firebase:v5.0.0

Seems like the most likely candidate for issues is JWT::verify(), which we're not using at all.

[2018-02-13 17:36] moazam1 opened #226 "Can't search search by id"
I am using following code to search user by ID:

    $user = $this->auth0Api->users->search( [
         '⁠⁠⁠⁠identities.user_id' => '5a550810cfb31a2789348166',
          'identities.provider' => 'auth0'
    ] );

but it's returning all users. What am I doing wrong?

[2018-02-13 21:39] joshcanhelp commented on #226
@moazam1 - The params that you're using aren't structured correctly. Array keys should one or more **Parameters** listed here:

https://auth0.com/docs/api/management/v2#!/Users/get_users

... and query format (`q` parameter) is covered here:

https://auth0.com/docs/api/management/v2/user-search

What you probably want to do is:

[code]

[2018-02-13 21:39] #226 closed

[2018-02-28 00:58] joshcanhelp commented on #217
@devAxeon - Is this what you're talking about?

https://github.com/auth0/auth0-PHP#oauth2-authentication

You said "your doc" but we have quite a few docs out there! Did you find the answer you were looking for on or around here?

https://auth0.com/docs/quickstart/webapp/php#add-the-auth0-callback-handler

[2018-03-01 19:55] joshcanhelp commented on #210
Fixed in v5.1.0

[2018-03-01 19:55] #210 closed

[2018-03-06 00:28] joshcanhelp commented on #125
I don't see the `tokeninfo` endpoint being used anywhere anymore ...

[2018-03-06 00:28] #125 closed

[2018-03-06 00:29] #128 closed

[2018-03-06 00:31] #178 closed

[2018-03-06 00:50] #192 closed

[2018-03-13 16:24] datasage opened #233 "State Handler with Custom Session Store"
Currently the state handler will initialize a new session store when first created. Even if a custom session store is provided.

If a custom session store is used, it should be either able to be passed into the SessionStateHandler class or automatically used when instantiating the class.

SessionStateHandler could instead allow anything that implements StoreInterface, instead of just SessionStore.

[2018-03-13 17:16] jspetrak commented on #233
@datasage How is that possible. Looking into the constructor code:

[code]

when `state_handler` parameter is passed to `Auth0`, that should take it as is.

[2018-03-13 17:22] datasage commented on #233
Currently the type hint on the session state handler class references
session store instead of the interface. So I have to duplicate it to use it.

On Tue, Mar 13, 2018 at 12:16 PM Josef Petrák <notifications@github.com>
wrote:

[2018-03-13 17:32] joshcanhelp commented on #233
@datasage - Good find, thank you! If you can put through a PR (`dev` as the base), that would be great. Otherwise, I'll handle it before the next patch release coming up.

[2018-03-13 17:56] joshcanhelp commented on #224
@RobMaple - We added state validation in [5.1.0](https://github.com/auth0/auth0-PHP/releases/tag/5.1.0) and when I test with that version, I get a fatal `Invalid state` error, as expected. This might solve your issue, though maybe not in the way you expect.

To summarize what I'm doing/seeing on my end:

1. Load my local app and clear out all my cookies for that domain
1. Click **Login** which cal

[2018-03-13 17:56] #224 closed

[2018-03-13 18:24] RobMaple commented on #224
Ok thanks @joshcanhelp
I'm unable to test right now but the sequence / outcome you described above certainly sounds like it should be fixed. Will report back if theres any related issues though.

[2018-03-16 21:01] jspetrak opened #234 "Auth0 class missing action to renew access token"
`Auth0` class has an `Authentication` object instantiated internally. It is supposed to call this API with current session data like access/id/refresh token and perform the operations.

However the action to renew access token with refresh token is missing.

[2018-03-20 15:34] joshcanhelp commented on #234
If you need to get a `refresh_token` or an `id_token` back from your code exchange with `oauth/token`, you need to request that using the `scope` parameter when you create a new `Auth0` instance.

- If you only need an access token, you can omit the `scope` parameter
- If you also need an ID token, use at least `openid` ([more here](https://auth0.com/docs/scopes/current))
- If you also need a refr

[2018-03-20 15:57] jspetrak commented on #234
@joshcanhelp This is not about receiving id or refresh token. This is about ability to use the refresh_token to refresh the access_token. There is not a method to do that with a ready-setup Auth0.php instance, and the Authentication object is private inside the class.

[2018-03-20 16:00] joshcanhelp commented on #234
Sorry @jspetrak, I didn't read that correctly.

The next section down in the Refresh Token guide I sent has instructions (for anyone that is looking for a how-to):

https://auth0.com/docs/tokens/refresh-token/current#use-a-refresh-token

I agree, though, the SDK should have a method to handle that. I'll reopen and assign to myself.

Thank you!

[2018-03-20 16:02] jspetrak commented on #234
Perfect, thank you!

[2018-03-21 15:41] joshcanhelp commented on #215
Apologies for the late response here, @garnold. I agree this is a little heavy-handed. It was done to make sure that the sessions in the PHP application match the Auth0 default sessions but both are adjustable so it makes sense to have an option for that.

Thanks for the info!

[2018-03-21 22:55] garnold commented on #215
@joshcanhelp 👍

[2018-04-02 20:12] joshcanhelp commented on #233
Adding in 5.1.1, PR coming now

[2018-04-02 20:12] #233 closed

[2018-04-02 20:13] joshcanhelp commented on #200
Adding in 5.1.1, PR coming now

[2018-04-02 20:13] #200 closed

[2018-04-18 22:36] miking7 opened #248 "getAppMetadata - how to use?"
The README mentions that "the Auth0 class now provides two new methods to access user metadata"... but calling `$auth0->getAppMetadata();` gives error

Examining the code for this library, the only place `getAppMetadata()` appears is in Oauth2Client.php, and Oauth2Client doesn't seem to be referenced anywhere else.  Have I found a bug?  or am I misunderstanding something?  What is the correct way

[2018-04-20 14:40] joshcanhelp commented on #248
Sorry for steering you wrong there, @miking7. I see what you're talking about. The `Oauth2Client` that's in there is out-of-date and needs to be deprecated at this point.

Getting `app_metadata` or `user_metadata` for a user will come from one of the user endpoints in the Management API like [get user by ID](https://auth0.com/docs/api/management/v2#!/Users/get_users_by_id). Quick sample:

[code]

[2018-04-23 16:49] timrabbetts opened #252 "Invalid state"
Using this within drupal.

Getting invalid state exception when checking the returned state.

This function
 `public function validate($state) {
        $valid = $this->store->get(self::STATE_NAME) == $state;
        $this->store->delete(self::STATE_NAME);
        return $valid;
    }`

the store is empty, can you help please?

[2018-04-23 16:50] timrabbetts commented on #252
client id, secret and domain are correct I think

[2018-04-23 16:51] timrabbetts commented on #252
JWT Leeway 180, JWT Algor = RS256

[2018-04-24 07:01] timrabbetts commented on #252
I am using the module.  I have this error with the module, filled out every
thing. I will post my config shortly. Thanks for quick response.

On Mon, 23 Apr 2018, 20:11 Josh Cunningham, <notifications@github.com>
wrote:

[2018-04-24 07:57] timrabbetts commented on #252
this is whats in the settings form
Client id
h###########################o

Client secret
r#############################################################2

Client Secret is Base64 Encoded (not checked)

Domain
bla.eu.auth0.com

JWT Leeway
180

JWT Signature Algorithm
RS256

[2018-04-24 08:01] timrabbetts commented on #252
![autodata](https://user-images.githubusercontent.com/12124608/39173921-fc62fafe-479d-11e8-81f1-4a1a84e9e06d.png)
 seems to match, so the state stuff, it looks like it compares the state after going off to google for oauth and the store is empty thats not correct is it?

[2018-04-24 08:04] timrabbetts commented on #252
I think this is some of the drupal module code thats failing, comments say set store to null so store is set to session store, but within getUser it fails with invalid state cause it compares the state to the now empty store.  I am on latest dev version of module, tried stable as well and no bug raise for this on drupal.org.  Thanks for any help, was kinda hoping this just worked.

[2018-04-24 14:18] d0cm0d commented on #234
I have the same problem. I need to get a user list from the Management class and the token gets invalid every 24 hours.

[2018-04-24 14:53] timrabbetts commented on #252
The logs on auth0 say I have logged in successfully so this defo feels like its the module not handling the response correctly.  I'll pester on drupal.org but any help would be great!

[2018-04-24 14:57] timrabbetts commented on #252
Maybe if you talk me through the new state process I could try and fix the drupal module?

[2018-04-24 16:49] joshcanhelp commented on #234
@d0cm0d - Actually, this is regarding a refresh token for a user session, not the Management API. The token you're generating can be given a longer expiration date when you create it (make sure to limit your scopes to only the ones you need and keep that very safe) or you can authorize your Application for that Management API and do a[ Client Credentials Grant](https://auth0.com/docs/api-auth/gran

[2018-04-24 17:52] joshcanhelp commented on #252
Let's rewind a bit :)

First, are you using the module from Github or did you install from Drupal.org? If from Github, how did you install it, composer or git clone or another way? The modules have split a bit and [we're working to sync those back up](https://github.com/auth0/auth0-drupal/pull/89). I'm guessing from here but I want to make sure. If you installed from Github, I'd close the drupal.o

[2018-04-25 08:10] timrabbetts commented on #252
I installed both module and auth0 plugin via composer:

auth0/auth0-php                       5.1.1              Auth0 PHP SDK.
drupal/auth0                          2.x-dev 5d48c87    Single Sign On f...

The store is not set before then we do get a state back and it compares to empty store so I need to know what goes into the store at the start, maybe this is some weird session thing?

Happy to

[2018-04-25 10:34] timrabbetts commented on #252
I have installed the auth0-drupal module from github (master branch) and removed the really rubbish drupal.org module.  Now getting a better error message:
Failed to exchange code for tokens: cURL error 6: Could not resolve host: ti####.eu.auth0.com (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)

[2018-04-25 10:43] timrabbetts commented on #252
I think that was a blip as tested it and its working.  Really need to get rid of the module off drupal.org and replace it with this or at least some comments.  Thanks for the help!

[2018-04-25 14:33] joshcanhelp commented on #252
@timrabbetts - Thanks for checking back in! We're working on getting the right code up there. I think the main problem there is that it's using endpoints that are deprecated for new accounts. That's all fixed on Github, just need to merge the good architecture that the Drupal module has with the updates on our end.

[2018-04-25 14:33] #252 closed

[2018-04-25 14:35] timrabbetts commented on #252
Good stuff, its sort of working right now, so will you merge into master and I can just pull that in future sometime?  Strange cause first time it fails and then it lets me in, let me know when the new code is in and I'll take a look.  If you get a cahnce could you look at my other issues, just want to know if the features exist yet or if they are in scope.  If I wanted to add to this code base wo

[2018-04-25 14:41] joshcanhelp commented on #252
Yes, we'll get those into master soon, it's holding up any improvements we can make. I've got time set aside at the end of this week and next.

[2018-04-25 14:43] timrabbetts commented on #252
Thanks

[2018-05-04 21:31] #248 closed

[2018-05-04 21:32] #217 closed

[2018-05-11 14:22] DeweyOx opened #254 "Invalid state with 11.6.1/lock.min.js"
Upgraded to 5.1.1 SDK and now getting "Invalid state" 500 error behind the scenes.

Commenting out lines 344-346 of Auth0.php:

`   if (!$this->stateHandler->validate($state)) {`
`    throw new CoreException('Invalid state');`
`     }`

resolves the issue. I know additional state validation was added here and I'm assuming that bypassing this is not a long term solution.

Log in used to work perfec

[2018-05-14 21:57] joshcanhelp commented on #254
Hi @DeweyOx ... everything is explained in the [changelog here](https://github.com/auth0/auth0-PHP/blob/master/CHANGELOG.md#510-2018-03-02). Long story short: you can turn off state validation by passing a `state_handler` parameter in your config array (the one you posted) set to `false` to turn off internal state handling in the SDK and implement your own. The `state` parameter that you see faili

[2018-05-14 21:57] #254 closed

[2018-06-02 17:41] jspetrak commented on #234
@joshcanhelp How about this implementation? https://github.com/auth0/auth0-PHP/pull/257

[2018-06-06 16:54] #234 closed

[2018-06-20 10:06] masacc commented on #171
Hello,

any news about a release date for this version ?

[2018-06-20 13:44] cocojoe commented on #171
@masacc there is some other work to complete. However, this will be coming back into focus in the near future.

[2018-06-20 14:12] AdelekeIO commented on #9
Pls can i get help with this issue: Fatal error: Uncaught exception 'Auth0\SDK\Exception\CoreException' with message 'Invalid domain' in C:\xampp\htdocs\00-starter-seed\vendor\auth0\auth0-php\src\Auth0.php:213 Stack trace: #0 C:\xampp\htdocs\00-starter-seed\index.php(30): Auth0\SDK\Auth0->__construct(Array) #1 {main} thrown in C:\xampp\htdocs\00-starter-seed\vendor\auth0\auth0-php\src\Auth0.php on

[2018-06-20 14:33] joshcanhelp commented on #9
@AdelekeIO - When you initialize the `Auth0` class, you need to pass in a domain, among other things. Lots of information on the [README for this repo](https://github.com/auth0/auth0-PHP#login).

[2018-07-04 12:41] Geczy opened #273 "Allow changing the session key name"
Or at least allow adding a prefix/suffix

BASE_NAME = auth0_

key = user

When a user logs in, the session that gets set is `auth0__user`

I want to be able to change that

[2018-07-12 15:23] joshcanhelp commented on #273
@Geczy - Thanks for the report here, I'll add this to our backlog 👍

[2018-07-19 18:14] joshcanhelp opened #276 "Allow configuration of the JWKS URL"
Raised in auth0/jwt-auth-bundle/issues/59.

The JWKS URL is hard-coded to point to `.well-known/jwks.json`. It does not look to be a requirement that the key set be located at this exact path.

This path should allow for modification during setup, with a default pointing to the original `.well-known/jwks.json` path.

[2018-07-23 10:19] Ronnie-J opened #277 "Question: Handling rate limits"
Hi.

As I can tell using the library there is no real way of handling the rate limits from the Management and Authentication API.

An exception is thrown but I have no way of telling what the headers are from the response or even handle the situation in advance by taking actions accordingly.

Any thoughts?

[2018-07-23 17:18] joshcanhelp commented on #277
@Ronnie-J - Thanks for the report here. We use the Guzzle HTTP library for our requests and that handles the exceptions, including the 429 rate limit response. Here's a quick sample of how you can handle that on your end:

[code]

**Request:**

[code]

**Response:**

[code]

**Message:**

[code]

Code:

[code]

[Refer to Guzzle docs on Exceptions](http://docs.guzzlephp.org/en/stable/quickstart.htm

[2018-07-23 18:33] Ronnie-J commented on #277
Makes sense @joshcanhelp but I would still like to handle stuff in advance. The `X-RateLimit-Remaining` is an indication that I might be about to hit the ratelimit and therefor I want to take action. I cannot do that with the returned value from using the API only the Exception as you mention can be used but then it will be to late.

Or am I missing something obvious?

[2018-07-25 11:44] Ronnie-J commented on #277
@joshcanhelp I think it would be a great contribution to the library if you were able to work with the rate-limits before the line is crossed and it's going to be an exception.

[2018-07-25 14:33] joshcanhelp commented on #277
@Ronnie-J - Absolutely. I'll do a little leg work this week and see how big of a big this will be.

[2018-08-01 16:11] joshcanhelp commented on #277
I did a little research here and I don't think this will be too big of a job. I'd like to add this without cluttering up the interface too much but it can be done without breaking changes and I think it will be an useful feature. Re-opening now and will get it into an upcoming sprint for completion.

Thanks again for the report @Ronnie-J

[2018-08-07 20:43] joshcanhelp commented on #199
Addressed in #271

[2018-08-07 20:43] #199 closed

[2018-08-09 15:19] #215 closed

[2018-08-09 15:19] #273 closed

[2018-08-15 04:33] lemartva opened #280 "Deprecated method email_code_passwordless_verify"
Hi, I'm trying to use the method  email_code_passwordless_verify in Auth0\SDK\API/Authentication class, I'm getting this error.

`Client error: `POST https://xxxxxx/oauth/ro` resulted in a `404 Not Found` response: Not Found `

I know /oauth/ro endpoint is deprecated, what alternative I have to verify a passwordless code using this php SDK?

Thanks for your time.

[2018-08-15 15:59] joshcanhelp commented on #280
Hi @lemartva

At the moment, we don't have a way to do that via API so you'll need to redirect to the [universal login page](https://github.com/auth0/auth0-PHP#login) (recommended) or use [Lock](https://auth0.com/docs/libraries/lock/v11).

[2018-08-15 15:59] #280 closed

[2018-08-16 06:00] baj84 opened #281 "Passing accessToken from frontend to PHP API"
Hey,

I've been trying to get authentication working (described below) in my laravel application, following these two tutorials:
https://auth0.com/docs/quickstart/webapp/laravel/01-login
https://auth0.com/docs/quickstart/backend/laravel/01-authorization

On the frontend (angular app):
1. User clicks log in button and taken to auth0 login page
2. The user logs in and is redirected back to the callb

[2018-08-16 14:34] stadskle opened #282 "Support PSR-6/16 for caching instead of a custom interface [Request for Comments]"
Very unnecessary to have a custom interface for caching when we have a PHP-standard for this. The class should support PSR-6 and do type hinting against that, making it easier to integrate with existing frameworks.

[2018-08-16 14:46] Nyholm commented on #282
This is fixed in the 6.x branch.

[2018-08-17 12:39] lemartva commented on #280
Thanks!

[2018-08-22 14:05] joshcanhelp commented on #282
@stadskle - I agree and I'll see if this is possible without making a breaking change.

Just FYI, the 6.x.x branch that @Nyholm mentioned is **not** ready for production yet and may not be released in it's current state.

[2018-08-22 19:26] joshcanhelp commented on #281
@baj84 - That means that the token to requested is not the token you're getting. The `audience` or `aud` on the token is not validating. Maybe you requested `https://myprojectname.au.auth0.com/userinfo` (which is correct) but you're trying to validate with `https://myprojectname.au.auth0.com/` ?

[2018-08-22 20:18] baj84 commented on #281
Thanks! I fixed the issue by adding the audience parameter.
[code]

[2018-10-08 16:51] #276 closed

[2018-10-13 11:18] arshadkazmi42 commented on #202
Do we need to change the name of `Users.php` file to `User.php` for this issue?

[2018-10-15 18:24] rogerms opened #296 "Array to String exception when audience is an array"
The error message should have said "Invalid audience... " but I received "Array to String conversion exception"
The problem is on line 203 of auth0-php\src\JWTVerifier.php
I changed it to
Invalid audience '.implode( ', ', $audience ).'; expected '.implode( ', ', $this->valid_audiences )

[2018-10-16 02:38] joshcanhelp commented on #202
We'll do it all at once when we're getting closer to releasing the major. We're still in the planning stages but will publish something soon 👍

[2018-10-16 02:41] joshcanhelp commented on #296
Thank you for the report here @rogerms! You're totally right, that first one should be imploded as well. I'll put through a fix ASAP.

[2018-10-30 19:57] #296 closed

[2018-11-01 10:07] kuzmaka opened #303 "Something is wrong with the latest release 5.3.1"
After `composer update` I get following error
[code]

[2018-11-01 15:36] joshcanhelp commented on #303
@kuzmaka - Sorry for the trouble here. This is something that changed in the last version but I'm not getting the error on my end and I'm not sure why the method that's causing this error is being called.

Are you using the `\Auth0\SDK\API\Helpers\InformationHeaders::Extend()` method anywhere in your code?

[2018-11-01 18:10] joshcanhelp commented on #303
@kuzmaka - Are you using the Laravel module? If so, I think I understand where the problem stems from.

[2018-11-02 14:04] kuzmaka commented on #303
Yes, exactly. Thanks for the fast reaction!

[2018-11-02 14:49] #303 closed

[2018-11-06 22:34] joshcanhelp commented on #171
I'm going to close this one out for now. We're working on a proper roadmap for this SDK now, which  include much of the improvements already in the `6.x.x` branch.

[2018-11-06 22:34] #171 closed

[2018-11-06 22:35] #190 closed

[2018-11-06 22:35] #202 closed

[2019-01-17 06:00] ishan-nibaya opened #315 "Fatal error: Uncaught Auth0\SDK\Exception\CoreException: Invalid state"
I have a problem with auth0.

There are two auth0 Applications in the project that I am working on right now. One is in PHP other one is WordPress. Both use auth0 Hosted Page.

First I opened my WordPress site in a tab in my web browser. Then I opened the same in another tab. Then tried logging in from the first tab by entering the email and the password and got the below error message.

![002](ht

[2019-01-17 17:34] joshcanhelp commented on #315
@ishan-nibaya - This might not be a "fixable" issue. State is handled per browser session so when you start mixing sessions between tabs, you might cross the state values being used. That said, WordPress uses cookies to store the state value and the PHP-SDK uses sessions so the stored value is in different places.

Can you walk me through exactly what you're doing to get this error? Step-by-step i

[2019-01-21 22:07] joshcanhelp commented on #315
@ishan-nibaya - This is to be expected and not a product of PHP or WordPress or anything else platform/SDK-related. [State validation](https://auth0.com/docs/protocols/oauth2/oauth-state) requires a value to be set for the user (as a session variable, like in this SDK, or in a cookie, like WordPress) and then validated during the callback. What's happening here is:

1. App #1 sets the state as a c

[2019-01-21 22:07] #315 closed

[2019-01-28 18:15] macdaddyaz opened #317 "Auth0::exchange() assumes a valid id_token"
I am running into an error from the `Auth0\SDK\Auth0::exchange()` method. In the following snippet, it attempts to pull the `id_token` out of the `code_exchange` response:

[code]

If there is no `id_token`, then the `$idToken` variable is just left with the value `false`. It then passes that value directly to the `setIdToken` method, which is not prepared to handle a non-JWT value. This results i

[2019-01-29 19:33] joshcanhelp commented on #317
@macdaddyaz - You're correct, this should definitely be more careful about that call. Happy to put through a PR and release to fix that.

This works fine for a default setup. Can you provide me with the code you're using to generate a token response without an ID token?

[2019-01-30 00:30] macdaddyaz commented on #317
Well, that's a different matter entirely 😁 I'm using an auth code that is getting pushed to my app after an IdP-initiated SAML handshake. I actually have an open ticket to find out why that code is not associated with any scopes (including `openid` or `profile`). So it isn't my code _per se_ that is getting such a token.

However, I could see someone legitimately needing a pure access token, like

[2019-02-04 19:06] joshcanhelp commented on #317
Fixed in `master`! We have a couple more tasks to do for the next minor and we'll get this out.

[2019-02-04 19:06] #317 closed

[2019-02-19 20:59] #208 closed

[2019-03-28 15:20] lbalmaceda opened #332 "Unused 'APP_CLIENT_SECRET' env var"
### Description

The env var APP_CLIENT_SECRET is included in the README and the tests initialization (getEnv method) but no test is using it.
**This should be safe to remove.**

Source: https://github.com/auth0/auth0-PHP/search?q=APP_CLIENT_SECRET&unscoped_q=APP_CLIENT_SECRET

### Prerequisites

[x] I have checked the [README documentation](https://github.com/auth0/auth0-PHP/blob/master/README.md

[2019-04-01 18:49] musaddiq-pk opened #333 "Auth0 Error: 'Invalid state' in /auth0/vendor/auth0/auth0-php/src/Auth0.php: line#537"
Hello!

After searching for few hours I'm still struggling to fix the issue. Following error message is displayed on callback page.
`Fatal error: Uncaught exception 'Auth0\SDK\Exception\CoreException' with message 'Invalid state' in auth0/vendor/auth0/auth0-php/src/Auth0.php:537`.

Here is state value: `5ca21f797a9659.40872849`. And my test home page is [https://www.casaskipito.com/auth0/](https:/

[2019-04-02 18:59] joshcanhelp commented on #333
Hi @musaddiq-pk! This could be happening for a number of reasons. We have a few threads on our Community site that can help:

https://community.auth0.com/t/invalid-state-php-error/17320/8

https://community.auth0.com/t/invalid-state-error-500-after-php-sdk-redirect/13895/

https://community.auth0.com/t/state-paremeter-woes/21396/

[2019-04-02 18:59] #333 closed

[2019-04-24 17:12] joshcanhelp commented on #332
This is used in the client credentials grant test and in the Contributing document.

[2019-04-24 17:12] #332 closed

[2019-06-05 04:04] peter279k opened #343 "Consider dropping PHP-5.x version supports"
### Description

As far as I know, the `PHP-7.0` has been released in 2016.

It's about three years and I think it's time to consider dropping `php-5.x` supports now.

Before upgrading the PHP versions, I think we have some works need to be concerned.

- Upgrade the PHPUnit version and it can let current PHP version support.
- Change into the PHPUnit namespace.
- Pakcage has been released new vers

[2019-06-05 17:35] joshcanhelp commented on #343
Appreciate the feedback here, @peter279k. You are correct, PHP 5 is long out of end-of-life and no longer supported. It's on our roadmap to move this SDK to PHP 7.x.

That said, it's perfectly functional on PHP 7.0 and higher, as noted in the Composer file.

[2019-06-05 17:35] #343 closed

[2019-06-19 19:40] kler opened #346 "No packagist package created for 5.5.0"
### Description

No packagist package created for tag `5.5.0` _(tagged 2019-06-07)_.
Latest tag as of writing this is `5.5.0`, but latest package on packagist is `5.4.0`.

I assume every tag should also be created as a package on packagist.

[2019-06-21 16:40] joshcanhelp commented on #346
@kler - That's odd. I don't recall doing anything special for the last release or any previous. We might have a GitHub hook that's not firing properly. I'll assign to myself and check next week. Apologies for the delay but thank you for pointing it out!

[2019-06-25 19:56] joshcanhelp commented on #346
@kler - Thanks again for the report here. Seeing this in Packagist now:

I just updated manually so it's available:

https://packagist.org/packages/auth0/auth0-php#5.5.0

We'll make sure this gets automated for the next release!

[2019-06-25 19:56] #346 closed

[2019-07-03 10:25] derMatze82 commented on #333
I have the same problem with SDK Version 5.4.0 from time to time.
Although there is a try/catch block, I got a CoreException. How could that be?
`try {
    $userInfo = $auth0->getUser();
} catch (CoreException $e) {
    // Invalid state or session already exists.
        unset($_SESSION['user']);
        session_destroy();
		$auth0->login();
		die();
} catch (ApiException $e) {
    // Access token

[2019-07-03 21:49] joshcanhelp commented on #333
@derMatze82 - I have no clue, that's very strange. Can you try catching a plain `Exception` there and see what happens?

[2019-07-04 06:30] derMatze82 commented on #333
I have updated to 5.5, as I found out that this issue should be fixed there.
I will comment here when this Exception is happening again

[2019-07-10 09:54] derMatze82 commented on #333
@joshcanhelp

Still happening in auth0 sdk 5.5, PHP 7.2:

Exception is not catchable in a try/catch block. Seems that the error appears in case of multiple browser-tabs open with the same page that includes the auth0 sdk

[2019-07-12 22:42] joshcanhelp commented on #333
I'm not sure what to say about that. You're either calling this in another place that's not being caught or there is something wrong with your `try...catch` code. Do you have a `use` statement at the top of the file that's doing this? Maybe try just catching `\Exception` since you're doing the same thing in both catch blocks.

The invalid state error itself might be related to running the auth pro

[2019-08-09 14:26] migueliriano opened #353 "Bulk User Imports - I can't Use `upsert` as a paramater for the `importUsers` feature"
### Description

I'm not able to set the parameter `upsert` when I try to import a list of users using the method `importUsers`

#### Use case

When I'm importing a list of users I would like to set the parameter `upsert` to update pre-existing users that match on the email address.

#### When the problem started
When I tried to set the parameter upsert to the `importUsers` method, I realized that

[2019-08-12 16:06] joshcanhelp commented on #353
@migueliriano - Thank you for the detailed report here! It looks like this endpoint is missing a number of options. I'll add this to our backlog and make sure it gets taken care of.

[2019-08-19 09:36] pinodex commented on #353
I need to set the `send_completion_email` parameter as well. I'll send a PR adding those parameters to the request.

[2019-08-24 14:47] NJseo opened #356 "JWT Verification fails everytime"
I'm assuming that the version of AUTH0-PHP is 5.4 based on the same output. I don't see anywhere where the version number is listed but I guess composer is pulling the latest. I even tried the starter seed library and installed its dependencies as noted on the download sample. This library worked in the past but now I keep getting the same error with JWT on line 226.

Fatal error : Uncaught Auth0\

[2019-08-29 07:28] jmbantay opened #358 "[Auth0\SDK\Exception\CoreException] Invalid domain when trying to run unit tests with Codeception 3.1.0"
### Description
I am part of a team developing a Yii 2 web app, although I cannot disclose the nature of the web app. We use Auth0 for the log in function.

My current task is to create unit tests for a specific class in the web app. I am using Codeception for this. I created a simple test and tried to run it just to see if  everything will go smoothly. My test:
[code]

When I run the test, i get

[2019-08-30 18:06] joshcanhelp commented on #358
@jmbantay - It sounds like you're trying to initialize the `Auth0` class without a `domain` key in your configuration. Can you share the code that's doing that initialization? It could be that you have it set to an `ENV` value but don't have an `.env` file for your testing suite.

Here's an example of the correct way to initialize that:

https://auth0.com/docs/quickstart/webapp/php#configure-auth0

[2019-09-09 22:22] #356 closed

[2019-09-10 14:39] #353 closed

[2019-09-22 17:20] joshcanhelp commented on #358
No activity

[2019-09-22 17:20] #358 closed

[2019-10-22 07:14] derMatze82 commented on #333
Thanks, I updated the code

[2019-10-28 12:16] Geczy commented on #273
So this was achieved? Where's the commit history for it?

[2019-10-28 16:51] joshcanhelp commented on #273
@Geczy - There is a merged PR mentioned above, #279

Please note that we'll be removing the session cookie expiration control in the upcoming major. Session name will remain.

[2019-10-30 16:04] xaoseric commented on #333
but your not getting the error all the time @derMatze82?

[2019-10-30 16:09] derMatze82 commented on #333
@xaoseric No, only some users are facing this problem, most of the other users can login successfully

[2019-10-30 16:35] xaoseric commented on #333
@derMatze82 try clearing your laravel cache folder and session cache files for laravel. Ive seen it happen when a user deletes their account on the Auth0 side.

[2019-10-31 09:30] derMatze82 commented on #333
I dont use any framework, it`s a self written PHP Application. Users cannot signup or delete account.
Accounts are imported.

[2019-10-31 19:15] joshcanhelp commented on #282
I wanted to use this thread to discus our plans here. I realize it has been a while since this issue was raised but we're working on a major in the `7.0.0-dev` branch now and can finally tackle this in the right way. We'd love some community help on this one since the caching objects themselves will be provided by the developer.

Caching in this library is currently used to cache JWKS files pulled

[2019-10-31 20:50] Nyholm commented on #282
I would advice against psr-16.
Psr6 is more powerful and way more common in other libraries. There are adapters between these two standards but why use an adapter layer when you can write 4 lines of code yourself.

Just my 2 cents.

[2019-10-31 20:55] joshcanhelp commented on #282
@Nyholm - Appreciate your input here!

If we're only have very basic needs here, I'm not sure being powerful is an asset.

That's what I'm curious about. I don't want to choose a standard that folks would have to work around (as we did originally with the custom interface).

Are you saying those adapters are that simple or something else?

[2019-11-01 06:52] stadskle commented on #282
Quickly looking at the largest frameworks, it seems like PSR-6 is **a bit** more common and used although most seems to be supporting both (and having bridge functionality). Zend Framework and Symfony has both, Laravel does not seem to have PSR-16 as far as I can tell, but you can fix it with an external bridge.

Looking at packagist it seems like the number of packages implementing the psr interf

[2019-11-17 05:59] musaddiq-pk opened #399 "Calling Auth0 Gives Database Error in Codeigniter"
Hello, I've integrated auth0 in custom PHP and it's working fine. Now I want to configured same code in CodeIgniter (PHP framework).
Now issue is that when call `$this->CI->auth0 = new Auth0([]);` it generates database error. But if I comment this line then it's working fine.
My question is that whether it is clearing other configuration?

Regards.

[2019-11-18 19:16] joshcanhelp commented on #399
@musaddiq-pk - I'm not sure how helpful I can be here. The `Auth0` class doesn't do anything with databases at all. Could you provide a little more context here? What is the error? What is `$this->CI`?

[2019-11-19 05:38] musaddiq-pk commented on #399
Thanks for your time, I know that `Auth0` is not needing database. I've configured `Auth0` on same hosting and domain which working fine. But using CodeIgniter I'm facing this issue. `$this->CI` is codeigniter object referencing custom PHP's `$this` . Error message is attached below.
![db-error](https://user-images.githubusercontent.com/11736070/69119517-b7ac3d00-0ab8-11ea-9e34-6b661611a1d3.png)

[2019-12-02 21:26] joshcanhelp commented on #399
@musaddiq-pk - Again, I'm not sure how I can be helpful here. You may want to dig a little deeper into what CodeIgniter is doing, as well as the code in the referenced file.

[2019-12-02 21:27] #399 closed

[2019-12-03 16:39] #282 closed

[2019-12-12 05:43] stspilker opened #409 "'Invalid state' in php:558"
In order to efficiently and accurately address your issue or feature request, please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly as possible. Please delete any sections or questions below that do not pertain to this request.

For general support or usage questions, please use the [Auth0 Comm

[2020-01-07 22:32] joshcanhelp commented on #409
@stspilker - Apologies for the long delay in getting back to you. Is this still an issue? Can you be more specific about "mobile" here? Are you testing on a single device or multiple?

`$valid` here is not a value, it's a boolean. If you're logging or outputting that value, echoing directly will not tell you much. Either use `var_dump()` or `echo $valid ? 'YES' : 'NO';`.

You can also try the `mas

[2020-01-16 17:17] bkuhl opened #416 "Feature Request: Test against more PHP versions (7.2, 7.3, 7.4)"
### Describe the problem you'd like to have solved

We are preparing to upgrade the PHP version of our application to run against PHP 7.3 and as part of that upgrade are reviewing our composer packages and updating them, partially to gain an understanding of which ones are tested against PHP 7.3.  It looks like [tests are currently run against PHP 7.1](https://github.com/auth0/auth0-PHP/blob/maste

[2020-01-16 17:23] joshcanhelp commented on #416
@bkuhl - Definitely nothing wrong with that! My main concern is with how long all those version will take. This package includes integration tests that need to account for rate limiting so just adding those versions might slow the checking process way down (in series means much longer total run time, in parallel means more rate limits hit).

Regardless, we appreciate the request here and will look

[2020-01-16 17:24] joshcanhelp commented on #409
@stspilker - Give the new major a try and see if it solves your issue. If not, let us know and we'll look into it.

[2020-01-16 17:24] #409 closed

[2020-01-16 18:28] bkuhl commented on #416
That makes perfect sense.

[2020-01-24 16:44] mabuonomo opened #417 "Consider to customize the jwks path"
Hi, can you consider to customize the jwks path ('.well-known/jwks.json') in Auth0.php?
[code]
I'd like to use this library in a our internal project, but our service use a different jwks_uri

Thank you

[2020-01-24 16:53] mabuonomo commented on #417
I use the version tag 7.0.0

[2020-01-27 15:39] kuma-guy opened #419 "JWTVerifier alternatives"
Document says that JWTVerifier is used to decod token,  but the current version has no JWTVerifier. How can I decode token?

https://auth0.com/docs/libraries/auth0-php/jwt-validation

[2020-01-27 18:02] joshcanhelp commented on #419
@kuma-guy - Apologies for that! It looks like that was not updated since the latest major release. You can see how it works in the SDK here:

https://github.com/auth0/auth0-PHP/blob/master/src/Auth0.php#L645-L670

But, in short, your code should look about like this, assuming you're working with an RS256 token and are checking for a nonce:

[code]

I'll make sure the docs get updated ASAP. Thank y

[2020-01-27 18:05] joshcanhelp commented on #417
@mabuonomo - Is your JWKS URL listed in the discovery document for your auth server? You can see the `jwks_uri` key on the URL below for an Auth0 server:

https://auth0.auth0.com/.well-known/openid-configuration

The SDK does not currently do dynamic discovery but it's definitely something we want to add. Would that solve your problem here?

[2020-01-29 07:03] kuma-guy commented on #419
@joshcanhelp  Thank you for the explanation and updated the docs!

[2020-01-29 07:32] kuma-guy commented on #419
@joshcanhelp

I'm sorry to ask you again.

I notice that ```IdTokenVerifier``` accepts **audience** as second parameter
https://github.com/auth0/auth0-PHP/blob/master/src/Helpers/Tokens/IdTokenVerifier.php#L51

On the other hand, updated document set client_id . Are client_id and audience same?

[2020-01-29 16:24] joshcanhelp commented on #419
No apology needed, we're here to help!

The audience of a JWT depends on the context. If you are an application and you're validating an ID token for the purpose of signing in, then the audience will be the client ID (the ID token was generated for that specific application). If you are an API accepting JWT-formatted access tokens (like the ones that Auth0 generates), then the audience will be the

[2020-01-30 13:51] Nyholm opened #421 "Support Guzzle 7"
We are soon about to release Guzzle 7. I see that this library reverted changes in version 6 alfa and went back to hard dependency on Guzzle.

Im would recommend to support PSR-18 instead of a concrete implementation. That would avoid dependency issues with Guzzle versions.
Btw, Guzzle 7 will support PSR-18.

[2020-01-30 15:53] #419 closed

[2020-02-03 23:50] ryangittings opened #422 "Authorized Party (azp) claim mismatch in the ID token"
I’m getting “Authorized Party (azp) claim mismatch in the ID token”.

Looking in the SDK’s, it seems to be because the mobile app token seems to be returning two 'aud’s, the API Audience, and the ‘{domain}/userinfo’ endpoint.

AUTH0_AUDIENCE = My application Client ID.

Mobile App Code

[code]

PHP API

[code]

[2020-02-04 00:43] joshcanhelp commented on #421
@Nyholm - I like the idea of improving interoperability, for sure. The HTTPPlug library had the main documented methods marked deprecated and it looked like the next version would not be PHP 7.1 compatible. That's understandable but we weren't able to bump the PHP version higher than that for this major.

Would it be possible to do that and remain PHP 7.1 compat?

[2020-02-04 06:37] Nyholm commented on #421
Of course. Httplug did a “technical” BC break to be able to use return types as required by prs18.
Both of them require php 7.0.
See https://packagist.org/packages/psr/http-client

About httplug v2: https://medium.com/php-fig/the-http-client-psr-9c2535132980

[2020-02-04 08:43] ryangittings commented on #422
Any help/advice super appreciated! I have a mobile app and a PHP API built on Laravel, so need a middleware to check the token is valid.

[2020-02-04 14:20] joshcanhelp commented on #422
@ryangittings - When you say "token," do you mean the access token that you get back? And that's the token you're sending to the API? That's the right way to do it, just making sure I've got everything straight.

If you're requesting an access token for the PHP API, the audience should be the API identifier, not the Client ID. The Client ID is the audience for the ID token that the mobile app rece

[2020-02-04 14:27] ryangittings commented on #422
Yeah, I'm sending the access token returned from the Auth0.swift auth process to the Laravel backend.

All I want to do is validate that the access token passed from mobile request is valid. I'm using my "API Audience" in the API's section of Auth0 as the Audience as above, not the Client ID.

Aud is returning an array of "API Audience" as mentioned above, and 'https://...eu.auth0.com/userinfo'. a

[2020-02-04 17:12] davegthemighty commented on #422
I was testing this locally, switching between v5 and v7, and replacing JWTVerifier with IDTokenVerifier.

With the v5 my dev configuration works, whereas the same call fails with v7.

The line that fails verification and throws the exception is:

https://github.com/auth0/auth0-PHP/blob/master/src/Helpers/Tokens/IdTokenVerifier.php#L200

My understanding is pretty feeble, so apologies if I have got

[2020-02-04 20:04] alshaikh1 opened #424 "add custom scope and OpenID configuration to Auth0 app?"
Can i add custom scope, custom endpoints and some other fields to the Provider Metadata (.well-known/openid-configuration) in Auth0 app? any tutorial/example to do that? for example, I would like to add user_premiuminfo endpoint to the openid-configuration.

[2020-02-04 20:22] joshcanhelp commented on #422
So ... the problem here is that the verifier you're using is meant for OIDC-compliant ID tokens, not access tokens. That replaced the previous verifier, which could be used for both.

The access tokens we generate are JWTs (the spec does not dictate a format) and, while we generally follow the same format as ID tokens, there are some differences (this `azp` claim being one of them). Because our ac

[2020-02-04 20:27] joshcanhelp commented on #424
@alshaikh1 - Unfortunately not, that's a standard metadata file that the Auth0 authorization server publishes itself.

[2020-02-04 20:27] #424 closed

[2020-02-05 00:12] ryangittings commented on #422
That’s brilliant - I’ll do that as a stop gap in development and await the SDK update, as I’d rather it be authorised within the SDK just for peace of mine! Thanks so much.

[2020-02-10 22:12] #417 closed

[2020-02-19 16:10] #422 closed

[2020-02-20 23:35] joshcanhelp commented on #422
@ryangittings - This is merged and released in 7.1.0. I've got [a PR](https://github.com/auth0/docs/pull/8765) submitted to update the documentation at well.

[2020-03-05 18:38] ndriscoll opened #431 "email_passwordless_start not setting client_secret"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-03-05 18:44] ndriscoll commented on #431
Oh, looks like #430 already addresses this.

[2020-03-10 16:46] mikelinden1 opened #432 "Renew Tokens throws nonce error"
#Description
When I call `$auth0->renewTokens()` with a valid access token and refresh token loaded from the store I get the following error:

`
Auth0\SDK\Exception\InvalidTokenException: Nonce value not found in application store
Stack trace:
#0 /vendor/auth0/auth0-php/src/Auth0.php(634): Auth0\SDK\Auth0->decodeIdToken('....')
#1 /vendor/auth0/auth0-php/src/Auth0.php(584): Auth0\SDK\Auth0->setIdT

[2020-03-19 18:48] joshcanhelp commented on #432
@mikelinden1 - Apologies for the delay here. I see the problem there, the ID token that is returned is passed through a verification process. That process should include nonce verification when the ID token is obtained through a login process but, in this case, that won't be available. Let me discuss with the team on an approach here.

[2020-03-19 19:10] mikelinden1 commented on #432
Thanks for the response. One more question - why is a stored access token required to use a refresh token? There's a check on like 567 of auth.php which throws an error if there is no access token but never uses it later. We don't persist access tokens in our app so this has been problematic. For now I am calling the Authentication API directly to use a refresh token. Is there anything wrong with

[2020-03-20 00:02] joshcanhelp commented on #432
That's there because the main use of a refresh token is to get a new access token. It's not, however, required for any reason so we'll take a look at that as well.

Nothing wrong with that at all. There is a method on the Authentication API class you can use directly for that. Everything in `Auth0` is meant to be a "helper" for common scenarios. Using the Management and Authentication classes dire

[2020-04-11 21:57] unoscar commented on #432
Hi Guys, is there a fix or implementation for this issue? I changed the refresh token method to the `refresh_token` function on the Authentication API directly and I am getting the correct new tokens. But, when I am trying to save them to the current session using `$auth0->setAccessToken()` and `$auth0->setIdToken` I am still getting the nonce error

`Nonce value not found in application store`

[2020-04-14 09:27] chillyistkult commented on #419
So `TokenVerifier` class does not accept multiple audiences in the config anymore (like JWTVerifier did before). What is the desired authentication flow if I have an API that is consumed by a client and another API, hence the need for being able to validate for multiple audiences?

[2020-04-14 14:32] joshcanhelp commented on #419
Can you explain this a bit more? I'm not following what the use case is here.

But, to explain the change here ... ID tokens should only be validated by the application (Client) that's being signed into. Access tokens should only be validated by the API (Resource) that's receiving them. If you have a token of either kind that's being validated by two entities, then there might be a problem with ho

[2020-04-16 10:43] chillyistkult commented on #419
I have two APIs developed by different Teams (API 1 and API 2). Additionally we have a SPA (Frontend). Both APIs (M2M applications) are "grouped" into an Auth0 API (so they have the same audience).  However the frontend (Auth0 SPA application) has a different audience. So when the frontend is calling API 1, API 1 needs to check for the audience of the frontend token, but API 1 is also called by AP

[2020-04-16 13:41] joshcanhelp commented on #419
I'm still confused here. The API that's being called should be receiving access tokens with itself as the audience. Different applications calling the same API should be requesting access tokens with the API's audience.

[2020-04-16 14:36] #431 closed

[2020-04-16 14:45] chillyistkult commented on #419
Actually we do that already from the frontend:

new auth0.WebAuth({
  audience: 'THE API AUDIENCE',
  clientID: 'THE SPA CLIENT ID',
  domain: 'AUTH0_DOMAIN,
  redirectUri: `${window.location.origin}${routes.auth}?v=${VERSION}`,
  responseType: 'id_token token',
  scope: 'email openid profile roles',
});

But the idToken has the SPA CLIENT ID as an audience.

[2020-04-16 16:19] joshcanhelp commented on #432
@unoscar - Apologies for the delay here. We're taking a look now.

[2020-04-16 17:02] joshcanhelp commented on #419
Your API should be accepting access tokens generated for that API, not ID tokens generated for your applications. Your API should not need to be aware of the applications that call it and ID tokens should not be sent to other entities. I would take a look at our API documentation for more detailed guidance or our recommended way to architect this:

https://auth0.com/docs/api-auth

[2020-04-17 15:52] borishcs commented on #432
I have the same problem, my app returns "Nonce value not found in application store"

[2020-04-21 17:06] joshcanhelp commented on #432
@borishcs - Thanks for the report here. Is this when using a refresh tokens or some other way? We're addressing the refresh token use case here but if there is another place where this is happening and you think it shouldn't, reproduction steps/code would be helpful.

[2020-04-21 17:12] joshcanhelp commented on #432
For everyone else ... I appreciate your patience on this. While skipping the nonce check is not a technically hard thing to do, we don't want to leave the door open to just turn off nonce checking. Also, we want to make sure the tests more accurately reflect how that method is used. You can see progress on the PR linked above 👆

[2020-04-23 00:20] #432 closed

[2020-05-06 17:49] mnapoli opened #436 "TypeError when using cookies as storage"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-05-15 21:06] joshcanhelp commented on #436
@mnapoli - Appreciate the thorough report here and apologies for the delay. I see how those types are not matching up to create this issue. It wasn't really our intension for user data to be store plainly in a cookie but if it's not sensitive data then I don't see a big problem with it. At the very least, we shouldn't be stopping you with a `TypeError` 😃

The problem here, though, is that Session

[2020-05-18 09:01] mnapoli commented on #436
TBH I think adding an option for users is confusing. Using that library is already hard enough I would say. So automatically converting back and forth would make sense, because as a user I would expect things to "just work".

Regarding my project, I ended up implementing another storage. The fact that the native storages are impacting global state (using global variables) make them hardly compatib

[2020-05-18 14:34] joshcanhelp commented on #436
I totally agree. But we can't always convert it (breaking change) and we want to account for storage strategies in the future that might need this same conversion.

If you have any feedback about this, we're happy to hear it. We want our SDKs to be as simple to use by default as possible. Identity is complex enough as it is!

Agreed but PHP session are simple to get working right away. The Laravel

[2020-05-18 17:51] mnapoli commented on #436
Yep, I understand the breaking change.
Maybe it could be worth detecting if the value is an array: if it is, it could be JSON-encoded. If not, it would be kept as-is.

However, that is not simple when decoding: how do you check if a value is encoded JSON or not 🤔

This is how I used it:

[code]

Hopefully that answers your question, because I don't know how to answer it 😅 I would say I use `json_e

[2020-05-18 18:24] joshcanhelp commented on #436
@mnapoli - Appreciate the feedback here! Your solution is probably a suitable work-around for now until we can figure out the best way to make the core storage work in this case.

[2020-06-03 03:48] natepage opened #437 "Multiple audiences/issuers gone"
The previous version of the SDK (using the JWTVerifier) allowed applications to verify id tokens against multiple audiences and issuers.

Looking at the new version of the SDK, the TokenVerifier now accepts audience and issuer as string only.

Is that intended? If yes why?

Thanks

[2020-06-03 13:18] joshcanhelp commented on #437
@natepage - ID tokens should have a single issuer, the identity provider (Auth0), and a single audience, your application. What's the use case for having more than one for either?

[2020-06-03 21:38] natepage commented on #437
@joshcanhelp thanks for the reply, our use case is actually only about the audience.

We have multiple APIs, each of these has an API in Auth0 so an audience and they're all configuring to accept id tokens only for their audience.

Then we have another API to centralize the management of our users, the other APIs and the access policies (who can access which API).

All that put together with a fro

[2020-06-04 18:46] joshcanhelp commented on #437
Thanks for writing this all out. My advice here has to be general as I'm not going to be able to review your complete architecture. But it sounds like you're using ID tokens incorrectly.

These APIs should be accepting access tokens generated for them with the API audience, not ID tokens with the audience of the applications sending them.

https://auth0.com/docs/tokens/guides/get-access-tokens

I

[2020-06-16 12:10] natepage commented on #437
@joshcanhelp Thank you for your reply. So yes it looks like we're not using Access Tokens the recommended way 😄

As I can see in the article you've linked, the example about Access Token has multiple audiences in the token. We've basically done it the other way around by setting only a single audience on the token and make our centralised API validate against multiple audiences.

It is probably no

[2020-06-16 12:16] natepage commented on #437
@joshcanhelp As an idea, we could implement setters on `TokenVerifier`:

- `setAudienceValidator(AudienceValidatorInterface $audienceValidator)`
- `setIssuerValidator(IssuerValidatorInterface $issuerValidator)`

Using setters will allow it to be BC compatible, because in the `verify` we check if those validators have been set, if not then we use a default implementation that basically just do what

[2020-06-17 13:05] B-Galati opened #438 "TokenVerifier::verify throws a \RuntimeException instead of an InvalidTokenException"
Hello !

### Description

Providing an invalid JSON body to the token result in `\RuntimeException` instead of `InvalidTokenException`. For example:

![image](https://user-images.githubusercontent.com/895123/84901047-35feab00-b0ab-11ea-9c4a-01e6d1b98509.png)

### Environment

- **Version of this library used:** 7.20
- **Other modules/plugins/libraries that might be involved:** lcobucci/jwt:3.3.2

[2020-06-30 08:58] healerz opened #440 "Guzzle exception message gets truncated"
### Description
If an API error occurs, the error details are truncated in the guzzle client exception. Which is known but, as far as I understand, will not be addressed by guzzle (https://github.com/guzzle/guzzle/issues/2185).

I do know, that the full response is accessible through `$e->getResponse()->getBody()->getContents()`, but I'd prefer that the auth0 library provides a non truncated excep

[2020-07-08 14:17] ls-yannick-thiel opened #441 "Allow programmatic clearing of cache values managed by Auth0Service"
By submitting an Issue to this repository, you agree to the terms within the [Auth0 Code of Conduct](https://github.com/auth0/open-source-template/blob/master/CODE-OF-CONDUCT.md).

### Describe the problem you'd like to have solved

I would like to be able to programatically clear the cache values that the JWKFetcher stores and manages. For example, at the moment, when a JWKS is retrieved, if a ca

[2020-07-10 08:17] faizalmansor opened #442 "IDTokenVerifier verify always fail with valid token because compare Azp with audience definitely always return false"
On line 80-98:
https://github.com/auth0/auth0-PHP/blob/master/src/Helpers/Tokens/IdTokenVerifier.php

[code]

Why is `$tokenAzp` compared with `$this->audience` ? Should be an attribute of `$this->azp` if need to compare for Authorized party. Or is there something wrong in my understanding?

[2020-07-23 13:36] stumpdk opened #444 "Silent error (getUser() returns null) when no Authorization Code is given"
### Description

$Auth0->GetUser() returns null, if Authorization Code is not given in URL or POST body.
This results in a silent error, as no exceptions are thrown.

### Reproduction
Instantiate $Auth object
Run $Auth->GetUser();

This will run the exchange() method, which in turn returns false, if no authorization code is given in query or POST body (see https://github.com/auth0/auth0-PHP/blob/m

[2020-07-24 13:59] joshcanhelp commented on #444
@stumpdk - Appreciate the report here but this is expected behavior. That method is a bit overloaded but what you're describing is how it was meant to work. You can see the usage here:

https://auth0.com/docs/libraries/auth0-php/basic-use

What would you expect this method to do if there was no user information?

[2020-07-29 22:37] cpcadmin opened #445 "Replacement or option for JWT Access Token verify & decode"
In the old version we could easily verify and decode an access token as we are using API features only and will never receive and ID token nor want to retrieve one every time an API call is made.  Why not add a simple decodeAccessToken to the new Auth0 service that sends in the proper application audience rather than the clientId as configured in php?  Or am I missing something?

[2020-07-30 00:13] joshcanhelp commented on #445
Would the `TokenVerifier` class work for what you need?

https://github.com/auth0/auth0-PHP/blob/master/src/Helpers/Tokens/TokenVerifier.php

This documentation page covers the `IdTokenVerifier` class but much of it is the same:

https://auth0.com/docs/libraries/auth0-php/validating-jwts-with-auth0-php

[2020-07-30 00:18] joshcanhelp commented on #442
If there are multiple audiences then we should have an `azp` and if we do, then it should match the audience indicated by the application.

Are you getting an error you didn't expect? If so, can you share your config?

[2020-08-05 13:06] cocojoe opened #446 "Wanted: Developer Experience Engineer"
We're looking for a Senior Engineer (remote) to join the SDKs team at Auth0. Come join us working in OSS and creating great developer experiences. Please share if you know someone who may be interested 😄

See [Developer Experience Engineer, SDK](https://auth0.com/careers/job/developer-experience-engineer-sdk:e2ac10c8-ca82-431f-ad3c-c118ee2def5f)

[2020-08-06 19:37] #438 closed

[2020-08-21 14:34] ls-yannick-thiel opened #450 "Make the CACHE_TTL used in the JWKFetcher configurable."
By submitting an Issue to this repository, you agree to the terms within the [Auth0 Code of Conduct](https://github.com/auth0/open-source-template/blob/master/CODE-OF-CONDUCT.md).

### Describe the problem you'd like to have solved

Currently, when using a cache in the JWKFetcher, it uses a harcoded TTL:
https://github.com/auth0/auth0-PHP/blob/master/src/Helpers/JWKFetcher.php#L126
https://github.

[2020-08-27 14:39] jimmyjames commented on #421
Closed with #443

[2020-08-27 14:39] #421 closed

[2020-09-09 20:55] cpcadmin commented on #445
Not sure why the status changed here.  I left an open question that is still unanswered.  Thanks.

[2020-09-11 03:26] faizalmansor commented on #442
When I instantiate IdTokenVerifier like so,
[code]
I provide different data for `$token_issuer` & `$valid_audiences`. So when it goes through the IdTokenVerifier it check this (line 91 of https://github.com/auth0/auth0-PHP/blob/master/src/Helpers/Tokens/IdTokenVerifier.php):
[code]
While in the parent class it check this (line 120 - 130 of https://github.com/auth0/auth0-PHP/blob/eb04b2a05118383e62

[2020-09-14 17:38] jimmyjames commented on #444
Closing this issue given @joshcanhelp's comment above; this is the expected behavior.

[2020-09-14 17:38] #444 closed

[2020-09-23 16:51] stevef opened #454 "Packagist does not recognize tag v7.3"
### Description

While attempting to upgrade auth0-PHP to tag v7.3 in an effort to upgrade to Laravel 8, I noticed composer was not aware of the available tag.

### Reproduction

In composer.json, I updated my requirement to the following:

`"auth0/auth0-php": "^7.3"
`

After running `composer update`, the following error was produced:

[code]

It seems Packagist is not aware of the new 7.3 tag?

[2020-09-24 16:28] #446 closed

[2020-09-30 09:55] ValeSauer commented on #409
I had this issue on an application that was available on two subdomains `a` and `b` but uses only `b` as an configured application domain. When user accesses `a` Auth0's nonce (aka state) was created only for `a` leading to a failing validation due to an empty session when Auth0 redirected back to the configured application url on `b`.

I solved this issue by setting php's cookie domain to `b.`. C

[2020-09-30 09:56] ValeSauer commented on #333
I had this issue on an application that was available on two subdomains a and b but uses only b as an configured application domain. When user accesses a Auth0's nonce (aka state) was created only for a leading to a failing validation due to an empty session when Auth0 redirected back to the configured application url on b.

I solved this issue by setting php's cookie domain to b.. Concretely in m

[2020-10-20 10:32] sauron1953 opened #457 "createPasswordChangeTicket doesn't support 'ttl_sec' parameter"
### Describe the problem you'd like to have solved

" Create a password change ticket" in your library doesn't support/accept **ttl_sec** option.

### Describe the ideal solution

Class src/API/Management/Tickets.php, methods createPasswordChangeTicket() and createPasswordChangeTicketRaw() needs new paraemeter **ttl_sec**

## Alternatives and current work-arounds

- None

### Additional context

H

[2020-10-26 19:54] evansims commented on #454
Hi Steve. 👋  This issue appears to be resolved, or I'm otherwise unable to reproduce it on my end, and may have been addressed by the release of 7.4 to Packagist. Please drop a comment here if you or others encounter the problem again.

[2020-10-26 19:54] #454 closed

[2020-10-27 11:57] #416 closed

[2020-10-28 21:38] ppaulis opened #460 "Can't verify access tokens"
Hi!

I'm currently having some trouble verifying access tokens. I'm using the `auth0/auth0-angular` package in a Single page application, and using it's interceptor I'm sending an `Authorization` header like this:
[code]
On the API side, I can decode and verify *ID* tokens like this:
[code]
But afaik I shouldn't send ID tokens to the API and use *Access* tokens instead (the Angular lib is indeed s

[2020-10-29 08:25] ppaulis commented on #460
Problem solved. There was an audience parameter missing in the SPA:
[code]

[2020-10-29 08:25] #460 closed

[2020-10-29 14:05] evansims commented on #460
Glad you got it sorted Pascal, thanks for the update!

[2020-11-02 03:59] evansims commented on #436
This is an interesting proposal, and I appreciate the thoughtful discussion shared here, as well as the example code. Thanks very much for your work here. We'll continue thinking on how we could expand the core storage strategy for the library.

At the moment I feel like integrating the proposed functionality into the cookie store sits a bit outside our intentions. Doing so would present potential

[2020-11-02 03:59] #436 closed

[2020-11-02 04:06] evansims commented on #445
Hey there! 👋 Thanks for bringing this to our attention. As this appears to be a compatibility issue specifically with the symphony module, we'll track this over on that repo. It looks like you've already opened a ticket there, so we'll continue it here when we have an update for you: https://github.com/auth0/jwt-auth-bundle/issues/103

[2020-11-02 04:06] #445 closed

[2020-11-09 17:30] #457 closed

[2020-11-09 19:54] evansims commented on #440
Hey @healerz 👋  Sorry for the delay in responding to this. I totally agree this isn't ideal. I like your idea of being able to plug a PSR-18 compatible HTTP client in there. I'll investigate our options here and see what we can do.

[2020-11-13 20:30] #441 closed

[2020-11-13 20:31] #450 closed

[2020-11-18 18:29] bruno-barros opened #466 "Unable to set user metadata"
### Describe the problem

I'm trying to set `user_metadata`, but got error `{"statusCode":400,"error":"Bad Request","message":"Payload validation error: 'Expected type object but found type null'.","errorCode":"invalid_body"}`
I'm able to get data from API.

### What was the expected behavior?

Get success update response.

### Reproduction

I'm using the development token.

[code]

### Environmen

[2020-11-19 02:19] evansims commented on #466
Hey @bruno-barros 👋 Sorry to hear you're hitting some trouble with this. I haven't been able to reproduce this error on my end quite yet — however, all my tests are currently configured to use Guzzle 7, so I need to do some further work to match your environment. Could you tell me what PHP version you're seeing this on, please?

[2020-11-20 23:46] bruno-barros commented on #466
Hi @evansims
I'm running on PHP 7.3.
I already had problems with guzzle's version. On 7 the content use the "form_params" key, but before 7 it's "body".
On a project I worked I did this:
[code]
I can try with the Guzzle 7 to see if it's the problem here.

[2020-11-21 03:11] bruno-barros commented on #466
@evansims just to let you know.
I tried with guzzle 7 and it works. Will you hunt around it?

[2020-12-08 21:14] evansims commented on #466
Hey @bruno-barros 👋 Sorry for the delay, and thanks for your help in tracking this down to an issue with our Guzzle 6 support! It's regrettable that went unnoticed till now. As it so happens, our next release of the SDK will phase out Guzzle 6 support out of necessity to allow for PHP 8 compatibility, so this issue will be resolved inherently through that change.

[2020-12-08 21:14] #466 closed

[2020-12-09 15:59] decima opened #469 "PHP 8.0"
### Describe the problem you'd like to have solved

Enable support for PHP 8.0

### Describe the ideal solution

Changing composer.json dependency

## Alternatives and current work-arounds

none

### Additional information, if any

A lot of projects have made the move, hoping you'll do it too :-)

[2020-12-09 16:03] evansims commented on #469
Hey @decima 👋  Thanks for raising this issue! Been hard at work on that front, and you'll be pleased to know we have a PR pending to get support in for the next release. #467

[2020-12-11 08:05] decima commented on #469
That's a good news @evansims ! we are waiting for it to know if we start our project in php 7.4 or 8 so we're exciting and waiting for it ! :)

[2021-01-04 16:53] evansims commented on #469
Thanks for your patience on this! PHP 8.0 support is now available with [SDK 7.6](https://github.com/auth0/auth0-PHP/releases/tag/7.6.0) 🎉

[2021-01-04 16:53] #469 closed

[2021-01-05 17:11] decima commented on #469
Thanks a lot :)

[2021-01-22 02:35] nfq-phung opened #475 "Users getAll has mistake of pagination"
<img width="846" alt="Screen Shot 2021-01-22 at 9 34 34 AM" src="https://user-images.githubusercontent.com/51575007/105438188-0fce6880-5c95-11eb-929e-05f9c7a9f2e1.png">

It should be:

[code]

[2021-01-23 06:22] evansims commented on #475
Hey @nfq-phung 👋 Good catch, thanks for raising this. I'll get a fix merged shortly.

[2021-01-26 14:52] #475 closed

[2021-01-26 18:40] evansims commented on #440
Hey again @healerz 👋 Just an update on this, going forward my plans for the next major release of the library is to support PSR-18 for passing custom implementations at SDK initialization. Closing this as it will be resolved by this forthcoming change.

[2021-01-26 18:40] #440 closed

[2021-01-28 15:22] healerz commented on #440
Hi @evansims thanks a lot for your answer and i'm looking forward to the upcoming change to be able to inject a PSR compatible http client 👍

[2021-01-30 07:21] renta opened #477 "Dependency auth0/php-jwt conflicts with lcobucci/jwt"
### Describe the problem

If project has a dependency on lcobucci/jwt and auth0/auth0-PHP, there is a problem. Class Lcobucci\JWT\Signer\Key\InMemory inherits Lcobucci\JWT\Signer\Key. Your fork has a same namespace, but the Key class is final there. During the installation of packages in Composer there are fatal errors because of this clash:

### What was the expected behavior?

May be auth0/auth0

[2021-01-30 19:38] evansims commented on #477
Hi @renta 👋 `auth0/auth0-PHP` 3.3.4 is a drop-in replacement for `lcobucci/jwt` 3.3.3 with added PHP 8 support, as the upstream author didn't want to merge PHP 8 compatibility in the upstream package to the 3.X branch. The 4.X branch of `lcobucci/jwt`, and later versions of the 3.X branch, introduce a new API which will require breaking changes in our SDK to adapt to so it's not as simple dependen

[2021-01-30 19:38] #477 closed

[2021-03-01 19:50] evansims commented on #442
Unfortunately, I'm not able to recreate the issue being reported here on my end. Notably, however, this behavior will be getting reworked in the next SDK major.

[2021-03-01 19:50] #442 closed

[2021-03-08 11:14] kler opened #479 "Support For TLS Version 1.2"
From 2021-03-22 Auth0 will be requiring TLS 1.2.

- Does this package support that?
- If yes, from what version is TLS 1.2 supported? _(i.e., who will need to upgrade)_

See
- https://support.auth0.com/notifications/60075b84581057000b4a6739
- https://github.com/auth0/node-auth0/issues/581

[2021-03-10 02:44] evansims commented on #479
**TL;DR — Yes, so long as you're using a [supported version](https://www.php.net/supported-versions.php) of PHP.**

This library supports TLS Version 1.2 inherently, so long as the PHP runtime used to execute it is compiled with a version of OpenSSL that supports TLS 1.2 (OpenSSL 1.0.1 or newer.)

As PHP runtimes can be compiled with different configurations of OpenSSL depending on the build envir

[2021-03-10 02:44] #479 closed

[2021-03-10 11:19] dmason30 opened #480 "Allow passing client id to tickets api (password change)"
### Describe the problem you'd like to have solved

The tickets api since the new universal login has accepted a client_id yet this package does not currently support it.

The client_id cannot be used in conjunction with return_url as it will result in an error.

It is a bit of an inconvenience that we can no longer use return_url in the new universal login and there is no dynamic replacement as i

[2021-03-11 18:46] evansims commented on #480
Hey, @dmason30 👋

Good catch on this, and thanks for making me aware! I'll address this shortly

[2021-03-15 16:50] evansims commented on #437
Hey everyone; thanks for your feedback and insights on this. I think there are enough fair arguments on this one (and it's popped up on some of our other SDKs as a request as well) to suggest it should be something developers can opt into as they deem appropriate. I've currently slated this for reintroduction in the next major release, 8.0. I'll update this thread when the release happens. Thanks!

[2021-03-15 16:50] #437 closed

[2021-03-15 20:17] ethanransdellsnapwire commented on #477
The conflict is caused by the namespaces for the official lcobucci/jwt package and your drop-in version are the same. This prevents us from using _any other_ package that relies on 4.x. The Auth0 SDK should not effectively lock its consumers into using a deprecated version of another third-party package due to its major release cycle. The auth0/php-jwt fork should use a different namespace than th

[2021-03-18 20:35] #480 closed

[2021-03-19 20:09] evansims commented on #480
Passing `client_id` is now supported as of today's 7.7.0 release, thanks!

[2021-04-01 21:10] ls-gabriel-stone commented on #450
Hi @evansims
After looking at the code changes in the #462 PR, I’m still unsure how the TTL is now configurable. We are using this library for our authentication module and we call the function `decodeJWT` in the `Auth0Service` class. This function will instantiate a new `JWKFetcher` instance which will have the TTL configured to the default 600 seconds. The `getKeys` function from the `JWKFetcher

[2021-04-02 14:56] pmccarren opened #486 "auth0/php-jwt conflicts with lcobucci/jwt"
Hello,

I am working to setup auth0-php in my application, however am encountering composer conflicts. I intend to migrate my user base from [laravel/passport](https://github.com/laravel/passport) to Auth0.

Both the `auth0/php-jwt` and `lcobucci/jwt` repos define the `Lcobucci\JWT\` namespace, which causes composer to complain, and errors to be encountered while instantiating classes.

`laravel-p

[2021-04-02 18:00] evansims commented on #486
Hi @pmccarren 👋 `auth0/auth0-PHP 3.3.4` is a drop-in replacement for `lcobucci/jwt 3.3.3` with added PHP 8 support, as the author didn't want to merge PHP 8 compatibility in the upstream package to the 3.X branch. The 4.X branch of `lcobucci/jwt`, and later versions of the 3.X branch, introduce a new API which will require breaking changes in our SDK to adapt to so it's unfortunately not as simple

[2021-04-02 18:00] #486 closed

[2021-04-07 02:55] connor11528 opened #487 "Support for Guzzle 7"
### Describe the problem you'd like to have solved

I am trying to [upgrade to Laravel 8](https://laravel.com/docs/8.x/upgrade#updating-dependencies) which requires Guzzle 7 or above. When I run the composer update command it sqwauks because this package relies on Guzzle 6. I'd like to be able to run this package with Guzzle 7 since we want to be on the latest Laravel version yet this package is v

[2021-04-07 03:15] connor11528 commented on #487
Nvm sorry. This is already supported :) I needed to upgrade to most recent package version for PHP 8:

`"auth0/login": "^6.4",`

[2021-04-07 03:15] #487 closed

[2021-04-13 15:13] l-vanbommel commented on #477
Is there any indication when the new major version will be released? More and more packages cannot be updated because of your fork with the same namespace...

[2021-04-13 23:40] evansims commented on #477
Hey, @l-vanbommel 👋  I'm not able to provide a timeline for you at this time. However, if this is holding you back, you can pin 7.5.0 until the next major is released, assuming you don't require PHP 8 support.

[2021-04-14 08:06] l-vanbommel commented on #477
Thanks for your helpful answer!
I initially added "lcobucci/jwt": "3.3.3" because that is the version you forked to prevent further issues,
Pinning 7.5 is better as it allows some more updates of the other packages.

[2021-04-14 15:12] ethanransdellsnapwire commented on #477
Still, some package require lcobucci/jwt 3.4 and up. This is really frustrating.

[2021-04-16 14:21] marko-ilic commented on #486
Is it possible to change namespaces in auth0/php-jwt to avoid conflicts with lcobucci/jwt?

[2021-04-27 23:42] jamescrowley opened #495 "[7.9] Make Auth0\SDK\Auth0::getState a public method"
### Describe the problem you'd like to have solved

I'm intending to store the full redirect variable in the session, and was intending to use the `state` nonce as the key, based on your guidance here: https://auth0.com/docs/protocols/state-parameters.

I could be mis-understanding here, but the PHP library currently:
* allows you to send a $state variable when calling login()
* allows you to gene

[2021-04-29 14:14] FabianRahm opened #497 "Encode Management API parameters before sending API requests"
As per https://community.auth0.com/t/search-users-with-sign-in-e-mail-addess-via-mgmt-api-and-getall/61550 I can't query for users with the PHP SDK having + addresses (e.g. foo+bar@domain.tld).

The SDK is not encoding query parameter values properly before calling the endpoint.

`        return $mgmtApi->users()->getAll([
            'q' => strtolower($email)
        ]);`

[2021-04-29 14:58] evansims commented on #495
Hey, @jamescrowley 👋 I think that's a fair suggestion, I don't see any particular reason why that couldn't be made public. I'll work on getting that change incorporated.

[2021-04-29 19:13] evansims commented on #497
Hey, @FabianRahm! 👋 Thanks for the suggestion. That's a good catch, we should be handling that on the library side rather than requiring apps to do it manually. As this would potentially be a breaking change I'll slot it in for 8.0 work. Thanks for the heads up.

[2021-04-30 12:34] FabianRahm commented on #497
Thanks for taking this up. A good reference for clean HTTP requests is the Stripe PHP package over at https://github.com/stripe/stripe-php.

[2021-05-03 19:35] #495 closed

[2021-05-03 19:36] evansims commented on #495
Hey again, @jamescrowley 👋 This change has been merged and will be part of the 7.9 release. Thanks for your suggestion.

[2021-05-03 23:10] jamescrowley commented on #495
Thanks @evansims

[2021-05-12 12:41] Nyholm opened #502 "[SDK-2595] Decouple from Guzzle"
Hey. Guzzle maintainer here.

Back in 2017 I was working to decouple this library from Guzzle. That was the unreleased version 6.

I see that this library is throwing some guzzle exceptions and provide some "guzzle options". But most "Guzzle things" are in the `RequestBuilder`.

There are a few issues with the Guzzle implementation:
1. It does not support guzzlehttp/psr-7:2.0
2. It creates a new `

[2021-05-12 22:44] evansims commented on #502
Hey @Nyholm! 👋 Funny you should mention that, that's actually exactly what I'm working on this week, adding PSR-18 and PSR-17 support into the 8.x branch. It's in the works!

[2021-05-13 05:40] Nyholm commented on #502
That is great news!

Let me know if you need any help or review.

[2021-05-26 09:03] Nyholm commented on #502
Wohoo. Thank you for https://github.com/auth0/auth0-PHP/commit/9564622151f37d02f24560b6fad1e76de8298050

I'll start updating the [Symfony bundle](https://github.com/Happyr/auth0-bundle) next week to support 8 instead of 6 alpha. I know it is super early. But I would like to encourage you to use alpha releases for 8.0.

(Im not saying that "now" is the correct time to do them, but do it whenever yo

[2021-05-27 22:49] evansims commented on #502
Hey @Nyholm thanks! Have a few more changes in flight to this before I wanted to ping you about a review, but if you get a chance to take a look, I'd love to hear if you think I'm taking the right approach on this, or if you have any feedback on how I could improve this

[2021-06-01 12:20] dunglas opened #507 "The dependency on auth0/php-jwt conflicts with the original lcobucci/jwt"
### Describe the problem

This package depends on `auth0/php-jwt` which is a fork of `lcobucci/jwt`. However, `auth0/php-jwt` uses the same namespaces as `lcobucci/jwt`. This autoloading conflicts between the two libraries when both are installed. It's very common in the Symfony ecosystem because many packages depends on the original version of `auth0/php-jwt` (LexikJwtBundle, the official Mercure

[2021-06-01 13:35] evansims commented on #507
Hi @dunglas 👋  Thanks for your report. This has been raised [a number of times](https://github.com/auth0/auth0-PHP/issues?q=lcobucci%2Fjwt) previously. As was previously mentioned, this will be resolved in the upcoming 8.0 release. For a number of reasons this will not be changed in the 7.x branch.

[2021-06-01 13:35] #507 closed

[2021-06-02 19:25] evansims commented on #497
Hey again @FabianRahm 👋  Just to update you, this has been resolved [with the forthcoming 8.0 branch](https://github.com/auth0/auth0-PHP/tree/8.x) which should be seeing release at the end of June if all goes as planned. Thanks for bringing this our attention! I'll go ahead and close this as it's been addressed with that release 👍

[2021-06-02 19:25] #497 closed

[2021-06-02 19:31] FabianRahm commented on #497
Excellent news, thank you!

[2021-06-10 10:06] peterfox commented on #507
@evansims thank you for answering so many issues on this, I can see it getting frustrating as a maintainer. I would suggest that potentially a fix for this is to remove the php-jwt package as a dependency and instead make it a dev dependency for the sake of development and testing. Then make it clear in the installation documentation that it's required to be installed if you're on PHP8 but can use

[2021-06-14 14:28] evansims commented on #502
Going to close this one as it's been incorporated into the 8.x branch pending release later this month. Would still love any feedback you have on refining the implementation if you get time! Can just continue the discussion here and re-open this ticket if we decide improvements should be made. Thanks again

[2021-06-14 14:28] #502 closed

[2021-06-14 14:39] Nyholm commented on #502
There is now an excellent time for an alpha release. That allows me to update the Auth0 bundle and allows me to try things out in real apps.

I will schedule some work on this this week (or weekend).

[2021-06-14 15:54] evansims commented on #502
Very much appreciated! Just finalizing our internal security review on Auth0's end and then I'll get a proper alpha up, just need to dot all our i's and all that. 👍  I'll update here when it's officially gone alpha

[2021-06-19 14:42] Nyholm opened #513 "[8.x] Cache Management access token"
When you create a new `Management` without an access token, it will use `Authentication` to get a new access token. This is great. However, we should cache that new access token. If not, each request on the customers website will lead to a request to auth0 to fetch the access token.

This will also make sense for the Auth0Bundle, ie it does not have to manage that cache.

[2021-06-19 15:29] Nyholm commented on #502
I've done a review. Great job.

I've added a few PRs and one issue. The symfony bundle is ready for 8.0 after these things are resolved.

[2021-06-21 05:31] evansims commented on #513
Hey, @Nyholm 👋 Good suggestion! I've added a `managementTokenCache`option to the configuration that accepts a PSR-6 instance for this use. Thanks for all the great feedback and contributions on this.

[2021-06-21 05:31] #513 closed

[2021-06-21 06:11] Nyholm commented on #513
Great. Thank you.

[2021-06-21 12:57] Nyholm opened #516 "Follow up for #514"
This is just a small follow up so we don't forget:

https://github.com/auth0/auth0-PHP/pull/514#pullrequestreview-688060006

[2021-06-21 13:07] evansims commented on #516
Fixed, thanks for the heads up!

[2021-06-21 13:07] #516 closed

[2021-06-21 13:08] Nyholm commented on #516
Thank you

[2021-07-09 17:21] Nyholm opened #520 "[8.x] No IDE autocompletion for Management"
One should avoid magic methods.

I suggest replacing `Management::__call()` with real implementation. Maybe add these real implementation in an `@internal` trait if we don't want to "pollute" the nice looks of the class.

If we really really really dont want to use real implementation, I suggest adding `@Method` annotations on the class.

[2021-07-09 17:55] evansims commented on #520
Hey @Nyholm 👋 I'm preferring the magic method for this since it reduces the redundancy of the class, but I definitely agree the `@method` calls should be there, just an oversight. I'll add that, thanks!

[2021-07-09 17:58] Nyholm commented on #520
Hm. Im not sure it *reduces* the redundancy, it just hides in in a magic way.

But the `@method` will make sure IDEs and static analysers properly can inspect and understand the code.

[2021-07-09 20:56] evansims commented on #520
Fixed on the dev branch, will be part of the next beta release! 👍 Thanks for the heads up!

[2021-07-09 20:56] #520 closed

[2021-07-10 00:54] Nyholm commented on #520
Thank you

[2021-07-12 13:19] mlesniak-softkraft opened #521 "Issues with another bundle"
### Describe the problem

When adding ```lexik/jwt-authentication-bundle``` with auth0 package version 7.9 there are several warnings in composer console like this:

Warning: Ambiguous class resolution, "Lcobucci\JWT\Signer\Hmac\Sha256" was found 2x: in "/var/www/vendor/lcobucci/jwt/src/Signer/Hmac/Sha256.php" and "/var/www/vendor/auth0/php-jwt/src/Signer/Hmac/Sha256.php", the first will be used.

[2021-07-12 13:37] evansims commented on #521
Hi @mlesniak-softkraft 👋 This issue has come up in other reports. The sub-dependency mentioned is not compatible with ours at this time due to major API changes in their new release (which makes implementation non-trivial) and a lack of back ported PHP 8 support in supported versions (which is why we forked.) The name spacing was necessary for a number of reasons, but is not the core issue you're

[2021-07-12 13:37] #521 closed

[2021-07-13 14:46] B-Galati commented on #521
What about adding a conflict entry in `composer.json` then?

[2021-07-15 06:57] debied opened #522 "Create a password change ticket: "mark_email_as_verified" parameter missing."
### Describe the problem

According to the API documentation https://auth0.com/docs/api/management/v2#!/Tickets/post_password_change and other docs/guides (i.e. https://auth0.com/docs/email/send-email-invitations-for-application-signup#create-password-change-tickets) there's the parameter "mark_email_as_verified" available when creating password change tickets.

However this parameter isn't availa

[2021-07-15 20:51] evansims commented on #522
Hey, @debied 👋 Thanks for the reporting this

`Stable/7.x` I've created [a pull request](https://github.com/auth0/auth0-PHP/pull/523), which will add these arguments to the relevant endpoint methods and pass the parameters with the API request.
`Beta/8.x` N/A

[2021-07-20 16:36] evansims commented on #522
Hey again @debied 👋  Just to let you know, this change has been merged. I'm off until next week, so I'll get a new release shipped with the change when I return.

[2021-07-21 15:31] bkilshaw opened #524 "getUser() returning null"
So our customers experiencing a network outage and we ran into an edge case where getUser() returns null and doesn't throw an error.

From what I can tell, it's due to this line here:

[code]
https://github.com/auth0/auth0-PHP/blob/958dbe845fa83c2a4a0b92df5d806ea93ddf8ed7/src/Auth0.php#L541

If Auth0 returns an error there is no authorization code. Instead of throwing an error it just returns fals

[2021-07-26 12:04] #522 closed

[2021-07-26 13:15] evansims commented on #524
Hey, @bkilshaw 👋  Thanks for reporting this. Let me investigate this one and get back to you.

[2021-07-27 14:29] evansims opened #525 "Feature Roadmap"
Hello there, thanks for stopping by! 👋

Just a heads-up, we don't keep proposed feature request issues open on this repo. We will either select them for development and them to the [public development roadmap](https://github.com/auth0/auth0-PHP/projects/1) (and our internal backlog), or decline to pursue them when we don't feel they're a good fit.

🛣 ` `You can see an overview of features selected

[2021-07-27 14:29] #525 closed

[2021-08-01 17:17] amenophis opened #527 "Use API classes as lazy Container services"
### Describe the problem you'd like to have solved
I'm trying to use https://github.com/Happyr/auth0-bundle to implement auth0 authentication in a symfony application.
The bundle define services for SDK Classes (`Auth0\SDK\Auth0`, `Auth0\SDK\API\Management` and `Auth0\SDK\API\Authentication`).
These services are declared as lazy because they do some HTTP request in the constructor.
This is a very

[2021-08-01 17:32] Nyholm commented on #527
Thank you for this issue.

Your second suggestion is the "more correct" one. I think that one should be implemented. That will allow the bundle to remove the workaround with lazy services.

[2021-08-02 03:33] evansims commented on #527
Hey @amenophis 👋 Thanks for your suggestion. I don't think removing the final keyword is a path we'd want to go down.

The only class that potentially sends an HTTP request from the constructor is `Auth0\SDK\API\Management`, depending on what information is passed to the SDK during configuration, the others simply create instances of `Auth0\SDK\Utility\HttpClient` for use later, but they aren't ac

[2021-08-02 03:37] Nyholm commented on #527
Awesome news. Thank you

[2021-08-02 20:52] evansims commented on #527
Hey @Nyholm and @amenophis 👋  I have a draft PR up that refactors the constructors on two of those classes. The core class, `Auth0\SDK\Auth0`, doesn't appear to create anything that could or should be lazy loaded. Can you confirm that? Let me know if these changes address your needs adequately.

[2021-08-03 06:11] debied commented on #522
Thanks @evansims for your support and the new release.

[2021-08-04 09:56] debied commented on #522
Hey again @evansims
Can you tell me when the fix will be released? Thanks for your support.

[2021-08-04 13:16] evansims commented on #522
Hey @debied 👋  Just released with 7.9.2!

[2021-08-05 15:24] #527 closed

[2021-08-05 15:42] evansims commented on #527
Hey @amenophis 👋  These changes were approved and merged. I'm going to cut a new beta release in the next day or two that will include these changes, just want to wrap up one other thing I'd like to sneak in there first. Hang it.

[2021-08-09 16:40] evansims commented on #527
👋  BETA2 is now available, which includes this change

[2021-08-15 12:47] Webbeh opened #537 "GetCredentials returns a null session unless you also getUser"
### SDK Version

8.0.0-BETA1

### PHP Version

PHP 8.0

### Composer Version

2.x

### What happened?

While trying out the new API for a new web app, following the usage instructions here on this github, I encounter a small bug with `getCredentials()`.

Basically, `$session = $auth0->getCredentials();` always returns null unless I also call `$auth0->getUser();` before it.

Further down in "How to

[2021-08-15 23:55] Nyholm opened #538 "Login domains vs api domain"
### SDK Version

8.0.0-BETA1

### PHP Version

PHP 8.0

### Composer Version

2.x

### What happened?

In my auth0 account I have a "custom domain" which I send users to when they login. I use
"https://login.foo.com".

My auth0 account has a "Management API" (or Audience) URL as "https://foo.eu.auth0.com/api/v2/".

When I configure the SDK I use `auth.foo.com` as my domain because that will render

[2021-08-16 01:10] Nyholm commented on #538
So here is some docs about this: https://auth0.com/docs/custom-domains/troubleshoot-custom-domains#-service-not-found-

It says that my Management API URL will still be `foo.eu.auth0.com`.

I suggest adding a `login_domain` or `custom_domain` option to the `SdkConfiguration`.

[2021-08-16 03:20] Nyholm opened #539 "Request header or cookie too large"
### SDK Version

8.0.0-BETA1

### PHP Version

PHP 8.0

### Composer Version

2.x

### What happened?

This is just an FYI. Im not sure it is a problem or not.

Time to time on my local machine nginx complains that the request header or cookie is too large. My workaround was to update the nginx config:

[code]

I use the default storage storage set up by [SdkConfiguration](https://github.com/auth0

[2021-08-16 10:59] evansims commented on #537
Hi @Webbeh 👋 Let me look into this and get back to you

[2021-08-16 11:00] evansims commented on #538
Hey @Nyholm 👋 Thanks, let me look into this one and get back to you

[2021-08-16 11:03] evansims commented on #539
Hey @Nyholm 👋 Thanks for the heads-up, sounds the new encrypted cookies might just be a little big for Nginx's default settings. I'll do some testing here to make sure there isn't any issues on our end with cookie size, but either way it might be good for us to include a note in the README about it

[2021-08-16 18:18] Nyholm commented on #539
Without looking at the code, here is some information I've learnt:

If we want to store the values "foo", "bar", and "baz" in a cookie and we want to encrypt the data. The end result is much smaller if we combine them before encryption.

[code]

So if we are not doing this already, we should consider adding all our data into one big map, then encrypt it and then store it in a cookie.

[2021-08-16 19:57] evansims commented on #539
That's an excellent point, that would be a better approach to how we're doing things now (we're encrypting each individually.) Let me see what I can do toward that end

[2021-08-17 12:53] matas-valuzis opened #540 "All arrays in API requests are turned into objects"
### SDK Version

8.0.0-BETA2

### PHP Version

PHP 8.0

### Composer Version

2.x

### What happened?

Some requests to Management API are not possible since all arrays are transformed to JSON objects. i.e `addRoles` method fails with error
[code]

### How can we reproduce this issue?

[code]

### Additional context

Bug is in `Auth0\SDK\Utility\HttpRequest::withBody` due to `JSON_FORCE_OBJECT` fl

[2021-08-17 18:04] evansims commented on #540
Hey @matas-valuzis 👋 Thanks, let me check on this one and get back to you.

[2021-08-17 23:34] #540 closed

[2021-08-17 23:35] evansims commented on #540
Thanks for the heads-up on this, @matas-valuzis! I've pushed a fix for this that will be part of BETA3 later this week. I've also added regression tests to ensure this is caught in the future.

[2021-08-18 18:09] evansims commented on #537
Hey again, @Webbeh 👋 Thanks for your patience.

Have you authenticated (and therefor have a session present on the device) before calling `getCredentials`? `getCredentials` will return `null` unless it finds an available session. By itself, it won't try to initiate a code exchange (unlike `getUser()`.)

For example, [looking at the PHP quickstart](https://github.com/auth0-samples/auth0-php-web-app

[2021-08-18 18:17] Webbeh commented on #537
Thanks.

Maybe it would be a good thing to update the README for `getUser()` instead of `getCredentials()`.

I tried to follow the README for a quick start and it led me to this issue.

Closing as working as intended, just needed clarification.

[2021-08-18 18:17] #537 closed

[2021-08-18 19:29] evansims commented on #537
No worries, I'll take a look at improving the documentation around that. Thanks again for engaging and bringing this up, I appreciate it. 👍

[2021-08-18 19:33] Webbeh commented on #537
I guess the real issue is that there's two docs : this README and the doc on Auth0.com.

As a beginner, I followed the one on Auth0 website, which just worked. However, after switching to pho8, I wanted to update everything and tried to follow this documentation.

It's quite inconsistent between the two docs. I don't really know what's the best way to handle this kind of situation. Possibly linkin

[2021-08-18 20:56] evansims commented on #539
I've drafted a new PR that includes an updated approach to this. If you wouldn't mind, give it a look when you have some time and let me know if you think this is a better way to go. Thanks!

[2021-08-18 20:58] evansims commented on #537
Could you point me to which doc on Auth0 you were using? We have stable/7.x documentation and beta/8.x documentation, you may have been referencing the earlier version's?

[2021-08-20 16:48] X-Coder264 opened #543 "Side effects in Auth0 constructor"
### SDK Version

8.0.0-BETA2

### PHP Version

PHP 8.0

### Composer Version

2.x

### What happened?

The Auth0 class restores the session state in its [constructor](https://github.com/auth0/auth0-PHP/blob/8.0.0-BETA2/src/Auth0.php#L69). This causes a lot of problems and debugging headaches.

In any scenarios when the session has not been started yet and the Auth0 class is being instantiated the

[2021-08-20 23:29] Nyholm opened #546 "Make Code style part of CI"
### What should be added?

We are currently using CodeSniffer but that does not run in the CI. So our current codebase includes a bunch of errors.

I suggest to add the following action to clearly state all CS issues: https://github.com/chekalsky/phpcs-action

[2021-08-21 02:35] evansims commented on #546
Hey @Nyholm 👋 CodeSniffer actually runs as part of the [PHP Insights](https://github.com/nunomaduro/phpinsights) suite of tests

[2021-08-21 02:35] #546 closed

[2021-08-21 02:42] Nyholm commented on #546
Hm. But when I run codesniffer locally I find a lot of errors.

[2021-08-21 02:55] evansims commented on #546
I don't believe the `.phpcs.xml.dist` file is actually used by Insights at this point, it has its own rule set it uses, and we tweak a bit from within the `phpinsights.php` file. Sorry for the confusion! I'll check on whether we still actually use or need that file next week and get rid of it if not.

[2021-08-21 03:18] Nyholm commented on #546
Great. I agree. Either use or remove `.phpcs.xml.dist`

[2021-08-21 06:07] evansims commented on #543
Hey @X-Coder264 👋 Thanks for your report! I don't think we've ever had this suggestion raised before, which surprises me a bit, honestly. I can see where this could be a beneficial change. I'm a bit uneasy about backporting this to v7 as I could see some instances where it might be considered a breaking change, but we can definitely make this happen for v8.

[2021-08-21 09:37] X-Coder264 commented on #543
Thank you @evansims. Since nobody reported this before I agree that it's fine to fix this just in v8 to be on the safe side regarding any possible BC.

[2021-08-23 14:05] evansims commented on #539
Gonna go ahead and close this since a PR is in flight to resolve it 👍 Thanks for the suggestion (as always!) @Nyholm

[2021-08-23 14:05] #539 closed

[2021-08-25 14:23] #543 closed

[2021-08-29 17:07] bkilshaw opened #553 "Core Exceptions"
### SDK Version

7.9.0

### PHP Version

PHP 8.0

### Composer Version

2.x

### What happened?

I have a number of Core Exceptions popping up in production that I'm unable to troubleshoot.

I'd expect there to be no Core Exceptions (or, if some are expected, just let me know I guess?)

### How can we reproduce this issue?

Errors happen intermittently and I'm unable to reproduce intentionally or

[2021-08-29 18:29] evansims commented on #553
Hi @bkilshaw 👋 Is this the same issue we attempted to diagnose on the Laravel repo?

[2021-08-29 19:32] bkilshaw commented on #553
I opened a new issue since I abandoned the laravel-auth0 package and re-implemented the authentication flow from scratch using the auth0-php SDK directly. I wasn't sure if I should continue the discussion on the laravel-auth0 repository since it's no longer being used.

I'm confident it's not:

- An issue with my implementation: Exact same issue persists between two totally different implementatio

[2021-08-29 19:32] #553 closed

[2021-08-30 17:49] Nyholm commented on #538
This issue is the last blocker for me. When it is resolved I’ll be able to use v8 in prod.

Do you want me to create a PR with a new “login domain” config value?

[2021-09-02 13:41] gfornari commented on #540
Hello @evansims 🙂  My team and me stumbled upon the same issue in `8.0.0-BETA2`, but we were glad to see that it has already been solved 🎉

Because we're developing along with the new version following its changes, when do you think a `8.0.0-BETA3` of the SDK with these changes will be released? Or, is there a public roadmap I can checkout?

Thank you!

[2021-09-02 14:15] gfornari commented on #540
Awesome! Thank you very much.

[2021-09-02 17:44] evansims commented on #538
Hey @Nyholm 👋 Apologies for the delay. Working on this one today for BETA3.

[2021-09-02 19:10] evansims commented on #538
Hey @Nyholm 👋 I've attached a PR to this issue that resolves the issue in my tests; can you confirm this solves things for you as well?

[2021-09-03 20:26] #538 closed

[2021-09-05 00:50] Nyholm opened #556 "How to get user after added access token"
### SDK Version

8.0.0-BETA3

### PHP Version

PHP 8.0

### Composer Version

2.x

### What happened?

I do a silent login. The access token is passed to me in the URL. I then add it to the Auth0 object. After that I expected (maybe wrong) to be able to call `Auth0::getUser()` and get the user back.

However, this fails since `Auth0::getUser()` calls `Auth0::exchange()` which looks for the `code`.

[2021-09-05 18:06] evansims commented on #556
Hey @Nyholm 👋 Nope, you're correct; that'd be the right way to go for that scenario. You can then update the local session data for the user with `Auth0\SDK\Auth0`'s `setUser()` method.

[2021-09-05 18:06] #556 closed

[2021-09-05 18:11] Nyholm commented on #556
Oh. Okej. Good to know.

Thank  you

[2021-09-07 08:22] gfornari opened #557 "Typo in @param annotation"
### SDK Version

8.0.0-BETA3

### PHP Version

PHP 7.4

### Composer Version

2.x

### What happened?

There is a typo in the `@param` annotation, spelled `@oaram`, at https://github.com/auth0/auth0-PHP/blob/c0168fe385e18d8a2cd3980512142cc2449bea0b/src/Auth0.php#L205. This causes  `\Doctrine\Common\Annotations\AnnotationReader` to raise a `\Doctrine\Common\Annotations\AnnotationException` trying t

[2021-09-07 09:24] #557 closed

[2021-09-08 23:20] calcifer1337 opened #561 "Namespace conflict when using the official lcobucci/jwt library"
### SDK Version

7.9.1

### PHP Version

PHP 8.0

### Composer Version

2.x

### What happened?

After installing the official lcobucci/jwt library i get errors because the auth0 fork uses the same namespace

### How can we reproduce this issue?

Install the auth0-php library and the lcobucci/jwt library

### Additional context

_No response_

[2021-09-09 00:20] evansims commented on #561
Hi @calcifer1337 👋 Sorry for the inconvenience. The sub-dependency mentioned is incompatible with our library at this time due to major API changes in their new 4.x release (which makes implementation non-trivial) and a lack of back ported PHP 8 support in the 3.x branch we support (which is why we forked.)

A beta of this SDK, v8, is currently available that resolves this issues, and will be rele

[2021-09-09 00:20] #561 closed

[2021-09-09 23:11] evansims commented on #524
Hey @bkilshaw 👋

Sorry, it took me a bit to review this; busy times! I definitely see the point you're making, and I think it does represent a bit of a pitfall in the v7 branch that could be handled better. Unfortunately, there really isn't a way of improving this in that branch without introducing breaking changes, so the workaround you presented is probably the best case for handling it for now.

[2021-09-09 23:11] #524 closed

[2021-09-20 15:49] healerz commented on #440
Hi @evansims
Just wanted to thank you for the version 8 major release. We're looking forward to upgrading it on our end.

[2021-09-20 17:27] evansims commented on #440
Thanks very much @healerz, I hope the upgrade goes smoothly for you! Please reach out to me if you encounter any issues or have questions in the process.

[2021-09-21 15:47] sufius opened #569 "Working example with protection of specific routes by scopes would be very nice"
### What should be added?

Could you please provide a boilerplate or sample project for symfony with usage of protecting routes by scopes?

[2021-09-21 16:35] evansims commented on #569
Hi @sufius 👋 Unfortunately we don't currently have any plans for an updated Symfony quickstart I can share at this time. I've noted your interest though, and we'll take that into consideration in future planning!

In the meantime;
- You might take a look at [auth0-samples/auth0-php-api-samples](https://github.com/auth0-samples/auth0-php-api-samples) which, while not using Symfony, may give you som

[2021-09-21 16:35] #569 closed

[2021-09-21 18:28] shadowhand opened #570 "ID tokens cannot be decoded because verification fails"
### SDK Version

8.0.0

### PHP Version

PHP 8.0

### Composer Version

2.x

### What happened?

I have an ID token and when I call `$token = $auth0->decode(token: $jwt)` I get the following error:

[code]

This is because of [this validation][1] being misconfigured to use `$tokenAudience` when it should be using `$clientId`. This would be solved by changing `->authorizedParty($tokenAudience)` to

[2021-09-22 02:04] evansims commented on #570
Thanks, @shadowhand 👋 Appreciate you raising the issue! Running a bit short on time today, but I will investigate this one tomorrow and get back with you!

[2021-09-22 17:49] shadowhand commented on #570
@evansims any update on this?

[2021-09-22 20:56] evansims commented on #570
Hey @shadowhand 👋 Thanks again for raising this, I do appreciate it.

So, testing out this change, but it actually breaks the expected behavior of the SDK when decoding an ID Token returned from Auth0 after authentication in my tests using, for example, our PHP quickstart. I'm trying to figure out why this is broken for you in your particular case; can you share what your class instantiation/confi

[2021-09-23 12:44] shadowhand commented on #570
By comparison, here is a decoded token that I generated from a dev Machine to Machine application:

[code]

Once again, the `azp` is the Client ID of the application.

[2021-09-23 12:55] shadowhand commented on #570
In neither of these cases is the `aud` set to the Client ID of the application. In all my time using Auth0, I have **NEVER** seen the Client ID be included in the `aud` of a token, so I don't understand why this would be a default. Nor have I ever seen the audience of a client be set in `azp`.

Previously, before upgrading to 8.0.0, my token verification was pretty basic: `iss` and `aud`.  Those v

[2021-09-23 12:59] shadowhand commented on #570
Here's another possibly useful data point, found in this [StackOverflow answer][1]:

[1]: https://stackoverflow.com/a/60937260

[2021-09-23 18:23] evansims commented on #570
👋 Thanks for the extra background, @shadowhand! Really appreciate your thoughtful and detailed responses as we try to figure this one out. I think I see where the confusion is stemming from: what we're really talking about here are Access Tokens, rather than ID Tokens. That's why these changes break our quickstart: it will break validation for ID Tokens, but not Access Tokens.

As an example, here

[2021-09-23 18:56] shadowhand commented on #570
🤦‍♂️ okay, let me just confirm what I am hearing...

The problem I am experiencing is that the default for `decode($token)` is to expect an ID Token and our application is requesting Access Tokens, not ID Tokens. And as of right now, there is no way to use `Auth0::decode()` on a token other than ID tokens.

[2021-09-23 19:02] evansims commented on #570
You can use `decode()` to validate an access token, you simply need to configure your `audience` during initialization in the way I mentioned/as the quickstart demonstrates.

[2021-09-23 19:12] shadowhand commented on #570
I am, and have always been, configuring my `audience`:

![image](https://user-images.githubusercontent.com/38203/134569196-cb17d22b-6868-447d-a1e8-04212f452b4c.png)

[2021-09-23 19:14] shadowhand commented on #570
Exactly right. Users login via SPA.JS and then the token is sent to our backend API as `Authorization: Bearer {token}` at which point we decode it and use it.

[2021-09-23 19:20] shadowhand commented on #570
Validating an access token using `$auth0->decode($token)` does not work because:

Which is due to [this line][1] of `Token.php` which is entirely different for access tokens and will never work as expected. Setting `audience` in configuration will not fix this, but this does:

[code]

A rather odd work around, but it will let me proceed with the upgrade. Looking forward to being able to do:

[code

[2021-09-23 19:44] evansims commented on #570
Yay, happy that's working, at least! And yup! Configuring it that way is the right solution for now, which is the same approach the QS takes, just by setting the global `audience` rather than expressly defining it on the method. Either way, supplying the array with those contents will allow it to pass validation.

I've added a backlog item to introduce support on `decode()` for expressly flagging

[2021-09-23 19:44] #570 closed

[2021-09-27 17:47] SasSam opened #573 "If there is no token, it dies without throwing an exception"
### SDK Version

7.9

### PHP Version

PHP 7.4

### Composer Version

2.x

### What happened?

If the token is null, the SDK doesn't throw `InvalidTokenException` but dies miserably with error 500.

Error message:
`TypeError: Argument 1 passed to Auth0\SDK\Helpers\Tokens\TokenVerifier::verify() must be of the type string, null given, called in [...]\vendor\auth0\login\src\Auth0\Login\Auth0Service.

[2021-09-27 17:58] evansims commented on #573
Hi @SasSam 👋 Thanks for raising this. It appears you're encountering this issue with the Laravel plugin itself, where it appears a validity check should be happening before invoking the `verfiy` method on the underlying SDK. Let's transfer this issue to that repo in that case.

[2021-10-11 08:15] komando82 opened #575 "Unit testing auth0 implementation is highly problematic"
### SDK Version

8.0

### PHP Version

PHP 8.0

### Composer Version

2.x

### What happened?

With new SDK 8 Version almost all auth0 package classes are final and they don't implement any interface. For example classes: `Auth0\SDK\Auth0.php`, `Auth0\SDK\Token.php`, `Auth0\SDK\API\Authentication.php`, `Auth0\SDK\API\Management` ... .

By my opinion this is forcing the real implementation in the t

[2021-10-11 12:51] evansims commented on #575
Hi @komando82 👋  Thanks for your feedback. This is not something we're considering doing at this moment, but I do agree there is room for improvement here to help downstream projects ease testing that I'd like to pursue in the near future. I'll keep your suggestion in mind for further development planning for next quarter.

Meanwhile, there are workarounds you might consider, like [the `mock-final

[2021-10-11 12:51] #575 closed

[2021-10-12 14:16] jngom opened #576 "Fail to purge auth session keys"
### SDK Version

8.0

### PHP Version

PHP 7.4

### Composer Version

2.x

### What happened?

I failed to purge auth0 session keys.
When debugging I found that the first executed session key has an empty value associated.
Because of this `current($session)` is false and the while loop ends without deleting auth0 session keys.

I suggest the following fix:
[code]

### How can we reproduce this iss

[2021-10-12 14:19] evansims commented on #576
Hey @jngom 👋 Thanks for raising this; let me look into it further and get back with you.

[2021-10-16 23:33] #576 closed

[2021-10-17 07:44] jngom commented on #576
My pleasure! 👍🏾

[2021-10-18 07:49] shmurakami opened #578 "PHP returns 502 after Auth0 exchange method called"
### SDK Version

8.0

### PHP Version

PHP 8.0

### Composer Version

2.x

### What happened?

I'm trying to use Auth0 SDK for OIDC callback endpoint.

`/authorize` endpoint correctly responds 302 response for redirect_uri with authorization`code` parameter so I can call `exchange` method of Auth0 instance.
However this redirect_uri endpoint returns 502 status response every time if I set `persist

[2021-10-19 00:01] shmurakami commented on #578
@evansims Thank you for investigating!

This is my snippets.

[code]

With xdebug I can confirm to get `id_token` and `exit` is called properly.

BTW for more accurately, 'm using nginx and php-fpm. It seems PHP is done correctly but nginx returns 502 response.

[2021-11-16 16:06] MariusJam opened #583 "Domain should be necessary on Management instanciation"
### SDK Version

8.0

### PHP Version

PHP 7.4

### Composer Version

2.x

### What happened?

Given the following code :

[code]

We get the following Exception: `Unable to parse URI: https:///api/v2/clients/XXXXXXXX` => there is no domain in the url.

A check should be implemented to ensure the domain is set when instantiating Management or SdkConfiguration.

### How can we reproduce this issue?

[2021-11-27 19:12] evansims commented on #583
Hey @MariusJam 👋 Thanks for the heads-up! You're quite right that check should be getting made on the `management` strategy as well, just an oversight. I'll get a PR up to fix that next week.

[2021-12-11 03:20] #583 closed

[2021-12-14 23:52] Nebual commented on #539
I also ran into this, and I believe #578 is a duplicate.

In my case, we have nginx immediately in front of php-fpm which needed:
[code]
as well as an ingress nginx proxying the app container (as a dev-mode analog of our production Load Balancer) which needed:
[code]

Before finding that config workaround, I believe I've identified _why_ the header is so large: in `Auth0->exchange()`, I see:
[code

[2021-12-15 20:06] evansims commented on #539
Hey @Nebual 👋 Great catch there, not sure how that slipped by! Looking forward to your PR! Much appreciated

[2021-12-16 08:44] Nebual commented on #539
PR created for optimization's sake, though the resulting `Set-Cookie:` response headers are still too large for default nginx configs :(

It seems storing both the id_token and access_token, encrypted, results in quite a large default payload. I'm not sure how to better resolve this, aside from maybe mentioning it in an FAQ... ahh well!

[2022-01-10 08:19] Anve94 commented on #578
@shmurakami Did you managed to get this resolved? We are running into this exact same issue on production (502 during callback handling) when communicating with a production tennant, but this never occurred before everything went to production.

We did check all the buffer sizes to be safe, and they were all updated on production.

[2022-02-07 17:32] nanofelis opened #596 "Lcobucci\JWT namespace conflict"
### SDK Version

7.9

### PHP Version

PHP 8.1 (In Development)

### Composer Version

2.x

### What happened?

The [php-jwt](https://github.com/auth0/php-jwt) lib used by auth0 is a fork from the original [Lboccuci](https://github.com/lcobucci/jwt https://github.com/auth0/php-jwt) jwt lib.

However the namespace used in auth0/php-jwt has not been changed and is still targeting the original namesp

[2022-02-07 17:44] evansims commented on #596
Hi @nanofelis 👋 This has been addressed in [previous issues](https://github.com/auth0/auth0-PHP/issues?q=Lcobucci). You will need to upgrade to V8 of this library to resolve issues with that dependency.

[2022-02-07 17:44] #596 closed

[2022-02-18 10:51] ca-dsgn opened #600 "Option to pass locale Paramter for login"
### What should be added?

Is it possible to add a locale Paramter such as "de" or "fr" to the SdkConfiguration to pass inside the URL which gets send to auth0 for rendering the login in a different language?

[2022-02-18 18:13] evansims commented on #600
Hi @ca-dsgn 👋 Not using SdkConfiguration, but you can pass any parameters to the `Auth0\SDK\Auth0::login()` method directly when you call it. The second parameter on it allows any extra parameters as an array. https://github.com/auth0/auth0-PHP/blob/main/src/Auth0.php#L112

[2022-02-19 08:40] ca-dsgn commented on #600
@evansims Great, thank you! I should have looked at the implementation instead of the documentation to find it! But maybe this question and your answer will help somebody in the future ;-)

[2022-02-20 01:19] evansims commented on #600
@ca-dsgn No worries at all! Happy to help

[2022-02-20 01:24] jithureddy opened #601 "Pass accessToken to embedded frontend react app"
### SDK Version

`"auth0/auth0-php": "^5.1"`

### PHP Version

PHP 7.4

### Composer Version

2.x

### What happened?

I have react app embedded in Drupal page
I am using auth0 (https://www.drupal.org/project/auth0) module for SSO.

I want to use access token in my embedded react app by fetching access token from Drupal user session

I can access $accessToken = $this->auth0->getAccessToken(); like

[2022-02-20 01:52] evansims commented on #601
Hi @jithureddy 👋

- You didn't specify which version of the SDK you're using, could you clarify?
- The Drupal module you mentioned is no longer supported and I have not worked with it personally, so my advice will be limited there.
- Are you implementing this integration using the PHP SDK or the Drupal module? I can only advise on SDK usage.
- Can you explain your integration flow for me? I think

[2022-02-20 02:33] evansims commented on #601
Assuming my understanding of your integration is correct, you cannot directly pass an access token to a frontend SPA SDK.

If possible, ideally, I would suggest performing this flow the other way around: authenticate with the SPA (in this case `auth0-react`) and then pass the access token to your PHP backend to authorize requests.

Otherwise, you will need to perform a silent authentication using

[2022-02-20 12:20] jithureddy commented on #601
Hi @evansims. Thanks for responding 👍 .

I have updated the SDK version.

I am doing the integration with Auth0 Drupal Module but I can extend this Drupal module which is using PHP SDK internally.

My application flow looks like below. Here External API is another custom api (Not drupal backend) which is secured with Auth0

<img width="1328" alt="image" src="https://user-images.githubusercontent.c

[2022-02-20 19:01] evansims commented on #601
Hi @jithureddy

Thanks for clarifying! Be advised, the Drupal module incorporating PHP SDK 5.0 is a concern, as it too is deprecated and unsupported. Although I have not tested it, I would strongly suspect that, when [PHP drops 7.x branch support this November](https://www.php.net/supported-versions.php), it will not behave correctly under PHP 8.0+. I'd recommend migrating to PHP SDK 8.

I sympath

[2022-02-21 19:12] #601 closed

[2022-02-22 16:08] jithureddy commented on #601
@evansims Thanks for the input

[2022-03-06 16:20] sepiariver opened #603 "Management::getHttpClient errors are opaque when acquiring token"
### What should be added?

Thanks for all the great work on the latest version. Huge upgrade! The migration from 7.x is a bit painful but sometimes you gotta just bite the bullet to get the benefits :)

Especially love the more tightly integrated Management and Authentication subclasses, and the new methods to instantiate them.

Something that could have been helpful—might be helpful for others as

[2022-03-07 09:21] Webbeh commented on #603
Thanks for that issue. I got the same problem the first time I needed to get a management token, and I really don't even remember how I figured out where that message came. I think it was in the Auth0 logs but I'm not even sure.

Making it more evident would be great indeed, would have saved me a headache !

[2022-03-07 14:46] gsarig commented on #578
I had a similar problem with the 8.1 version, where I got Bad Gateway 502 errors, and the only workarounds were either to downgrade to 7.9.2, or to use `'tokenAlgorithm' => 'HS256'` instead of the default `RS256`.

Having the latest version (which, at the time of writing this post, is `8.1`) AND using `RS256` consistently threw the 502 error. After digging a bit more, I realized that if I removed

[2022-03-07 17:27] evansims commented on #578
Hi @gsarig, a clear is issued at the beginning of the exchange already, clearing all but the transient token, which is also cleared after being validated. Another clear shouldn't be necessary unless there is another unidentified underlying issue we should troubleshoot.

502 errors by themselves aren't really useful in troubleshooting, and the algorithm change by itself shouldn't have an affect on

[2022-03-08 07:22] fullstackfool opened #605 "Possible to open Discussions on this repo?"
### What should be added?

I feel that not everything needs to be an issue, and the Discussions functionality in GitHub could be very useful?

[2022-03-08 07:34] fullstackfool opened #606 "8.0: AZP is now checked against the audience"
### SDK Version

8.0

### PHP Version

PHP 8.1 (In Development)

### Composer Version

2.x

### What happened?

Since updating to 8.1 the `azp` claim in the ID token is being compared against the `audience` array, is this correct? Given my understanding:

`audience`: array of targets (apis) the key is valid for.
`azp`: the identitifer of client that generated the token.

Dumping out the values I c